[2017-08-15 20:54] lheagy commented on #632
Thanks @dccowan, do you have an example you provide that reproduces this bug?

[2017-08-15 20:54] dccowan commented on #632
#########################
# EXAMPLE PYTHON CODE

from SimPEG import Mesh
import numpy as np
import matplotlib.pyplot as plt

bcs = 1. # Base (smallest) cell size
nbc = 4096 # Number of base cells
hbx = bcs*np.ones(nbc) # Set cell widths for base mesh
hbz = bcs*np.ones(nbc)

# SET MESH DOMAIN
# Smallest cell width is _____ and the domain is as wide as _____ of those cells.

meshObj = Mesh.TreeMesh(

[2017-08-15 22:32] lheagy commented on #632
@rowanc1: would you be able to take a look at this?

[2017-08-18 19:01] dccowan opened #633 "Bug in EM.TDEM.Rx.Point_h"
Unable to predict data using receiver type "EM.TDEM.Rx.Point_h":

- EM.TDEM.Rx.Point_b runs fine
- EM.TDEM.Rx.Point_dbdt runs fine
- EM.TDEM.Rx.Point_dhdt gives same issues

[2017-08-18 19:06] lheagy commented on #633
Which problem formulation are you using?

Right now, not all of the various permutations and combinations have been implemented (you can see this if you look a the TDEM Fields code: https://github.com/simpeg/simpeg/blob/dev/SimPEG/EM/TDEM/FieldsTDEM.py#L123)

For example, for `Problem3D_b`, we have implemented `e`, `b`, `db_dt`, but not `h` or `dh_dt` yet.

This would be a great place to jump in a

[2017-08-18 19:20] dccowan commented on #633
That would definitely do it. Is there a formulation to recover h and dbdt without 2 solves?

[2017-08-18 19:44] lheagy commented on #633
Right now, you could manually compute it on the outside using the fields object. If you use `Problem3D_b`, then the fields object already knows how to give you `b` and `db_dt`, eg
[code]
then `h` can be computed from `b`
[code]

That will give you the fields everywhere. Then have a look at how the receivers do the projection to get data: https://github.com/simpeg/simpeg/blob/dev/SimPEG/EM/TDEM/RxT

[2017-08-28 18:26] lheagy opened #634 "add .ipynb to gitignore"
we should add .ipynb to the gitignore - notebooks are out-of-scope for this repo. In the past we have had some notebooks be committed which adds a large volume of code to the log that is later removed

[2017-08-29 04:40] rowanc1 commented on #408
See most of the links here:
http://docs.simpeg.xyz/index.html#links

Google groups still needs to be added:
https://groups.google.com/forum/#!forum/simpeg

[2017-08-29 04:45] rowanc1 commented on #624
I am not sure if this was posted on the correct github repo. Please comment/clarify if it was intended for SimPEG.

[2017-08-29 04:45] #624 closed

[2017-08-29 12:46] lheagy commented on #408
We can follow this up at the meeting next week. I am not sure if using Milestones at the stage we are currently at will really be all that beneficial. Similarly, I don't know what we would use the wiki for (I am hesitant to fragment our docs or anything like that...)

Related, we need to post some links on the docs and on the simpeg website (related, simpeg/website#13, simpeg/website#14)
- [ ] goo

[2017-08-29 13:03] lobosan commented on #624
Yeah sorry about that, not sure what happened hehe

[2017-09-05 19:21] lheagy commented on #632
This issue was moved to simpeg/discretize#71

[2017-09-05 19:21] #632 closed

[2017-09-07 01:16] thast opened #636 "Optimization is sensitive to a scalar multiplication"
Multiplying the objective function by a scalar seems to change the step-size of the line search, and thus the outcome (or at least that is my best so far).

I tried it by adding a 'Chi' factor in front of the data misfit term in `invProblem`
The idea being that, optimizing `A(m) + beta* B(m)` is expected to be the same as optimizing `(1/beta)* A + B`

![simpeg git 2017-09-06 18-10-55](https://user

[2017-09-07 01:27] thast commented on #636
Some additional details: This example shows a slight difference. However this has become an issue for me for the petrophysically constrained inversion, as I now have 2 competing misfit functions (this is how I detected this behavior at first). With these 2 competing misfit, the difference between the two outcomes `A(m) + beta* B(m)` and `(1/beta)* A + B` can be massive.

[2017-09-07 04:03] rowanc1 commented on #636
It has been a while since I have looked at this code. My guess is that there is an assumption on `phi_d` and `phi_m` being offset by a single scalar: `beta`.

So that means there might be somewhere else in the code that looks at `self.phi_d/m` or `self.phi_d/m_last` and assumes that they are offset by `beta`.

Does the problem persist if you put `chi` on the `self.phi_d` (not `_last`) parameter sp

[2017-09-16 00:25] jiajiasun opened #639 "install simpeg in windows error: failed building wheel for discretize"
I was trying to install SimPEG on my new windows 10 machine using pip install simpeg, and got an error message that reads 'failed building wheel for discretize'.

Anyone has any idea about what might have gone wrong here?

BTW1, I was able to install python, numpy, scipy, scikit-learn, matplotlib without any trouble.
BTW2, yesterday I ran into a similar error message when I was installing obspy th

[2017-09-16 00:36] fourndo commented on #639
Hi Jiajia!
Glad to have you on board.
Very most likely because of the c++ library. I think if you go higher in the installation prompt you should see a warning about visual c++

https://support.microsoft.com/en-ca/help/2977003/the-latest-supported-visual-c-downloads

Has to do with c-compiled code to speedup python.
Let me know how that works for you.

[2017-09-16 00:52] jiajiasun commented on #639
Hi

[2017-09-16 01:00] jiajiasun commented on #639
Hi @fourndo !
SimPEG is great! I plan to use that in my class here at UH. Thank you for answering my question!

I installed the latest Microsoft Visual C++ redistributable following the link you provided, restarted my computer and re-installed SimPEG, still got the same error message ...

It is unlikely that my problem had to do with visual c++, the reason being that I got my computer about 3 days

[2017-09-16 01:01] jiajiasun commented on #639
I think I just accidentally closed something :) My first time posting in GitHub.

[2017-09-16 01:54] jcapriot commented on #639
Jiajia, can you try installing the discretize package on its own and posting the error on that packages github page?

[2017-09-16 08:23] lheagy commented on #639
Hi @jiajiasun, Glad you are planning to use SimPEG in your course!

We are working on simplifying the installation steps for windows (@sgkang has been looking into getting discretize on conda-forge simpeg/discretize#69), but at the moment windows can still be a bit tricky.

How do you have python installed? did you use anaconda? https://www.anaconda.com/download/

[2017-09-16 15:20] jiajiasun commented on #639
@jcapriot Hi, Joe! Thanks for your reply! Yes, l will do that on Monday (computer sits in my office) and let you know how it goes.

[2017-09-16 15:28] jiajiasun commented on #639
@lheagy Hi, Lindsey! Thanks for reply! I installed Python in a very simply way. I went to this webpage https://www.python.org/downloads/windows/ and downloaded windows x86-64 executable installer for Python 3.6.2 and simply followed the instructions in the wizard (basically, I just clicked a bunch of yes!).

Then, I installed numpy, scipy, scikit-learn and matplotlib by typing pip install numpy et

[2017-09-16 16:20] jiajiasun commented on #639
@fourndo @jcapriot @lheagy Interesting. I tried installing simpeg in my wife's laptop (mine was dead, so I was using hers for Python coding for a few weeks) that runs Windows 10, and I pulled it off! I did run into one minor problem related to visual c++, but it was easily solved by downloading Microsoft Visual c++ 2015 package).

BTW, I installed python, numpy, scipy, etc on her laptop just two w

[2017-09-18 18:47] jiajiasun commented on #639
I think I know how to solve the problem.

Per @jcapriot 's advice, I tried installing discretize using the wheel file from https://pypi.python.org/pypi/discretize/, and got an error message saying that this wheel 'is not a supported wheel on this platform'. I guess it is because I am using Python 3.6 on my desktop whereas this wheel is intended for Python 2.7 users.

So, I guess if any of you coul

[2017-09-21 07:32] lheagy commented on #639
@jiajiasun: any luck???

[2017-09-21 21:45] grosenkj opened #642 "Implement a Dipole receiver for EM"
It would be great to have a Dipole receiver type for `EM` methods, similar to the `Static` methods.

[2017-09-28 16:56] jiajiasun commented on #639
@lheagy I will need to build a wheel package for discretize in Python 3.6. Still tryting to figure out how to do it. I am attending SEG now. Will look into this later.

[2017-09-29 11:54] lheagy commented on #577
This is similar to the discussion currently happening in #637 - worth comparing notes here. cc @fourndo

[2017-09-29 17:25] thast commented on #639
Another issue some of us had, that might be of some help here:
https://github.com/simpeg/discretize/issues/76

[2017-09-29 17:30] thast commented on #639
Hi @jiajiasun, Solving the issue I posted above, I was able to reinstall SimPEG and discretize on Windows 10 Machine from scratch. I have created a .whl for discretize on Windows with Python 3.6. You can get it at the link below. Hope this will hep. Cheers.
https://www.dropbox.com/s/pvrbpxmay9ln52v/discretize-0.1.10b0-cp36-cp36m-win_amd64.whl?dl=0

[2017-09-29 21:29] jiajiasun commented on #639
@thast I just installed the wheel package for discretize, as well as SimPEG, and it worked beautifully!!! You are awesome!! How did you do it? I was trying to figure that out.
@lheagy we probably need to put the wheel package (created by @thast) somewhere (that is more visible to people) so that others who run into the same problem in windows would have access to it.

[2017-09-29 21:41] thast commented on #639
Awesome! Glad it works! Welcome on board!
To create a wheel file, once yo have cloned the repository, you can run (in the repository) the command line `python setup.py bdist_wheel`. I first had errors seemed associated with the compiler, but everything got solved once running the beta version of `properties` (but I still ended up using the `MinGW` compiler for it, but not sure if it did change any

[2017-09-29 21:46] #639 closed

[2017-09-30 09:03] lheagy commented on #639
Thanks @thast: yes, they can be distributed through pypi - we should be able to do that from appveyor automatically (runs the tests on windows)

[2017-10-17 22:26] dccowan opened #643 "PEP8 linter install for windows (add instructions to website)"
Instructions for installing and activating the pep8 linter for windows have been made. For this to work, you MUST have sublime text 3. The steps are as follows:

STEP 1: INSTALL SUBLIME LINTER 3
* Opem sublime text 3
* Open the Command Palette (cmd+shift+p on Mac OS X, ctrl+shift+p on Linux/Windows).
* Type 'install' and select 'Package Control: Install Package' from the Command Palette. There wil

[2017-10-17 22:57] lheagy commented on #643
Hi @dccowan, would you be willing to add this to the docs? It could be included in the ["Text Editors"](http://docs.simpeg.xyz/content/api_core/api_getting_started_developers.html#text-editors) section of the Getting Started for Developers.

The docs are rst, just as is for em geosci and the gpg. The page you can edit is here:

https://github.com/simpeg/simpeg/edit/master/docs/content/api_core/api

[2017-10-17 22:57] lheagy commented on #643
if you are willing to champion this, could you assign yourself to the issue?

[2017-10-28 17:15] lheagy commented on #643
this closed with #644

[2017-10-28 17:15] #643 closed

[2017-10-28 18:00] lheagy opened #646 "Flattening the API for EM"
Currently, DC, IP, SIP are all under `Static` so in the namespace, it is
[code]
which is a bit cumbersome. `Static` is not a natural descriptor for an EM geophysical method. I propose we flatten it so that  DC, IP, SIP are all imported directly from EM.
[code]
Thoughts??

cc @rowanc1, @sgkang, @fourndo

[2017-10-30 22:14] lheagy opened #647 "DC examples"
Right now, we are a bit sparse on examples for DC. We have a 1D inversion, an analytic and a forward simulation. Having a 3D inversion would be very valuable to (a) show that SimPEG can do a 3D DC inversions, (b) demonstrate a more practical use of the code. There was interest at exploration '17 in using SimPEG to invert DC data, but if someone just looks at the docs, it isn't clear that this is e

[2017-10-30 22:24] thast commented on #647
Already done, I have a two-cylinder example in 2D.
I am converting it right now to a 2-spheres examples in 3D.
This will come with an update to the `DCUtils.gen_DCIPsurvey()`, an utils that create my Dipole-Dipole survey.

[2017-10-30 23:56] thast commented on #647
Just created a branch `example/dcip_inversions` for the purpose of this issue.

[2017-10-31 04:33] thast commented on #647
#648

[2017-11-08 23:22] sgkang opened #649 "DC does not handle Pole-Pole data"
This is due to boundary condition, and we need to implement mixed boundary condition to make our DC code compatible for Pole-Pole geometry.

[2017-11-10 22:00] sgkang commented on #649
This problem is tackled, and tested. See #650.

[2017-11-10 22:02] sgkang commented on #429
In Adam's formulation matrix A do not include volume term, whereas SimPEG's solution does includes volume. So when assigning a value to A[0, 0], we do not need 1/Vol[0].
Mixed boundary condition, which treats this issue is implemented. See #649 #650

[2017-11-10 22:02] #429 closed

[2017-11-10 22:04] sgkang commented on #260
Most of things are handled about this issue except for the IP one.
See #650 if you still need clarification @lheagy.

[2017-11-10 22:13] sgkang commented on #584
Fixed. See #650

[2017-11-10 22:32] sgkang commented on #589
For EM problem, this does not make a big difference.
This null-space issue is problematic only when pole-pole types of geometry is considered.
We can also use mixed b.c. in EM code.

[2017-11-13 14:51] lheagy opened #651 "pull requests directly to master"
To speed up getting features live into SimPEG, we could do pull requests directly onto master.

## Impacts
- your features are rapidly live to the world!
- pull requests should be small and focussed
- pull request notes will be used as the release notes and so should contain sufficient detail to describe the changes, any breaks in backwards compatibility, etc.

## TODO's
- [x] switch main branch t

[2017-11-13 17:17] fourndo commented on #651
👍 Make it better, faster, stronger: https://youtu.be/gAjR4_CbPpQ

[2017-11-14 15:08] rowanc1 commented on #651
👍 Yep, I think this will bring features into master faster as well!

[2017-11-16 14:24] lheagy commented on #651
Wonderful! I will get started on this :)

[2017-11-16 14:30] lheagy commented on #651
- [ ] @rowanc1: can you remove the dev-docs subdomain from simpeg.xyz on godaddy? Thanks!

[2017-11-16 18:02] rowanc1 commented on #651
![image](https://user-images.githubusercontent.com/913249/32907549-9a096698-cabd-11e7-8404-b48e422cbdd5.png)

[2017-11-23 01:30] sgkang opened #653 "Storing sensitivity option for DC problem"
- [x] Implement `getJ` function (bascically similar to Jtvec)
- [x] Make sure it updates for each iteration
- [x] For both 3D and 2.5D problem

[2017-11-23 01:33] sgkang commented on #653
![image](https://user-images.githubusercontent.com/6054371/33156089-20491c66-cfab-11e7-8d51-3f426582cd5e.png)
@micmitch  @fourndo Here's  a result with sensitivity weighting

[2017-11-23 02:04] sgkang commented on #653
This will be closed when it merged to `master` branch

[2017-11-23 05:23] fourndo commented on #653
Geez wow ok. This is getting a pretty stellar inverse algo man.
Is it sparse too or something?

[2017-11-23 05:24] #647 closed

[2017-11-23 06:22] fourndo commented on #653
Beauty, Tree is right at reach. We can re-group tomorrow.

![image](https://user-images.githubusercontent.com/2406426/33160737-9978d82e-cfd3-11e7-964d-5f3560bfbd29.png)

[2017-12-11 22:04] lheagy opened #656 "docs aren't deploying"
<img width="730" alt="simpeg - travis ci 2017-12-11 14-03-45" src="https://user-images.githubusercontent.com/6361812/33856186-2a440606-de7c-11e7-83f4-2cfe734126b1.png">

[2017-12-18 22:45] lheagy opened #659 "Organization of the Docs"
Our top level of he docs is currently

- Why SimPEG?
- Getting Started with SimPEG
- Getting Started: for Developers
- Practices
- Examples
- Electromagnetics
- Direct Current Resistivity
- Induced Polarization
- Magnetics
- Richards Equation
- Finite Volume
- Forward Problem
- Inversion Components
- Maps
- Utilities

It isn't necessarily clear where a user or new contributor should start or how t

[2017-12-18 23:05] lheagy opened #660 "template for the docs for each method"
Related to the overall structure of the docs (#659) we should have a template for the documentation for each of the methods within SimPEG. See what you think of the following. cc @simpeg/simpeg-developers, @dougoldenburg.

Some inspiration:
- [scikit-learn](http://scikit-learn.org/stable/modules/linear_model.html#ordinary-least-squares): I like the way they include code, plots and links to other e

[2017-12-19 01:35] rowanc1 commented on #660
It might be worth putting inversion model properties in at a high level?

[code]

I know that this differs between packages, and it will be an important part of SimPEG - and if we expand to Sources or other inversion properties - which is important to call out at the start!! There are a number of things to invert for in Richards for example - and lots of different empirical relations.

----

What

[2017-12-19 02:56] rowanc1 commented on #659
Some questions/thoughts:

- Forward Problem --> Forward Simulation?
- Maps above Inversion?
- Add a high level category of `Workflows`? where we talk about general things to do (create mesh, survey, choose some things, what is your model, constraints, etc.)? Before the methods? This can come from the paper quite easily actually. This could have sub categories of:
    - Plotting Fields
    - Simula

[2017-12-19 02:58] rowanc1 commented on #660
Just as a follow up to #657, I am not sure if we should have the full API here, or just a call out to it that lives in the API section, so that the docs are almost entirely usage docs rather than just straight API auto-generation...

[2017-12-19 03:04] rowanc1 commented on #646
I like that. Could be similar to how we are doing the NSEM link? or should we delete that?

https://github.com/simpeg/simpeg/blob/master/SimPEG/NSEM/__init__.py

Do we want to have all the EM methods coming from there?

`from SimPEG.EM import NSEM`

[2017-12-19 03:10] rowanc1 commented on #660
This also has overlap to #564.

@lheagy could you put your thoughts down on how this is different than http://computation.geosci.xyz?

[2017-12-19 03:12] rowanc1 commented on #556
There is a lot of documentation here on Mag:
http://computation.geosci.xyz/case-studies/PF/Linear_Problem_Mag.html

You probably have something hanging around for Grav @fourndo?!

[2017-12-19 03:13] rowanc1 commented on #424
This could be helped by `properties` with the vector math functions, which are classes.

[2017-12-19 03:17] fourndo commented on #556
Oh wow, that's old. Yea for sure. Maybe for your christmas present...

[2017-12-19 03:44] rowanc1 commented on #562
If we go with an extra `Simulation` class this would remove the `pair` function (which made an initial parallel implementation I did with @bsmithyman difficult, as I recall) as well as add some ambiguity about where to put the functions `calc_jvec`, `calc_fields`, `calc_dpred` etc. (maybe some better introduction of pep8 here? and standards of `calc`ulating things?).

It would probably help out wi

[2017-12-19 04:06] lheagy commented on #646
this is related to the layout of the docs as discussed in #659 (each method is top-level findable and accessible within SimPEG)

[2017-12-19 04:29] rowanc1 opened #661 "Investigate pymt and standard_names"
I am pretty intrigued by the [pymt project](https://github.com/csdms/pymt) which also seems to be focused on coupling models, although maybe less focused on inversions/parameter estimation?

Part of what is there is a lot of definitions of [grid types](https://github.com/csdms/pymt/tree/master/pymt/grids), which has a lot of overlap in definition with our [discretize package](https://github.com/si

[2017-12-19 04:32] lheagy commented on #660
Thanks @rowanc1! Agreed on properties and formulations - I have updated the above to be more explicit in the overview / introduction to the method

re: API. I could be convinced either way... My argument for keeping it with the method - each method is really it's own module, treating them as (somewhat) self-contained would make it easier to break up the repos later is need be and I think we do wan

[2017-12-21 20:41] thast opened #662 "Codacy improvements"
Here are some thoughts after the work on PR #650:

- Examples are not taken into account for the coverage. Maybe we have an opportunity here to use them as test as well (maybe by making each one a class with a `run()` function and then create a `test_examples.py`)

- Testing Plotting functions has proven challenging to test. Right now, most of them are not covered.
  - Even without any `plt.show()

[2017-12-24 17:37] micmitch opened #663 "SaveOutputEveryIteration Directive errors"
Can no longer use the SaveOutputEveryIteration directive on the the dcip/dev branch. I get the following error when calling this function using Tikhonov regularization on a treemesh.
[code]

[2017-12-24 18:14] fourndo commented on #663
Makes sense since everything is combo now.
Will need to change the saved values as dictionaries.
@sgkang : I think you are the author of this. Are you ok with the change?

[2017-12-24 20:50] thast commented on #663
I did play with this function on my branch. I will try my modifications Tuesday or Wednesday and submit it if it works.

[2017-12-25 00:24] thast commented on #663
@micmitch : can you share your script?

[2017-12-28 04:16] thast commented on #663
A possible workaround is to replace in the function `self.reg` by `self.invProb.reg` and everything is back to expected behavior.

@fourndo : can you enlighten me why here
 `type(self.reg) = ObjectiveFunction.ComboObjectiveFunction`
 while
`type(self.invProb.reg) = Regularization.Simple` (or `Regularization.Tikhonov`)

Not sure that I get why they should be different... (if they should) Thanks!

[2017-12-28 17:04] fourndo commented on #663
The idea is to turn all the inversion blocks into ComboObjectives for the Directives, if it is not a Combo already. That way we can loop over lists everywhere, and won't need to check every time if it is a combo or not.

`self.reg` is a combo, so in your case, you can access the same object that is stored in `self.invProb.reg` by calling `for reg in self.reg.objfcts`. So the first (and only) eleme

[2017-12-28 21:25] thast commented on #663
@fourndo: I understand we want to be able to handle several regularizers. What I am less sure about, and not a big fan so far, is the discrepancy between the type of object when calling `*.reg`.

Moreover, This also create inconsistency of interaction (as reported by @micmitch ) and naming convention. For example there is also now an inconsistency for the use of the term `objfcts`: in one case `se

[2017-12-29 02:23] fourndo commented on #663
Not sure about the combo invProb. In my mind there is only one inverse problems, but multiple components making it.
Why are you accessing the reg through the invProb anyway? Can't you just use self.reg?

[2017-12-29 04:03] thast commented on #663
I totally agree with you @fourndo : one inverse problem with multiple components.

My point is more that, even if it is only internal mechanics of `Directives` , if a same call inside a same problem, (`*.reg` here) gives different types of output between classes, then it can become cumbersome both for users and developers.

In short, what I'd like to see if that makes sense is:  **`(self.reg == se

[2017-12-29 07:49] fourndo commented on #663
@lheagy @thast Was thinking about it. Why don't we handle the whole Combo thing (misfit and reg) inside the invProblem instead  Like makes total sense since we are already doing tedious checks, like this one for fields
`if f is None:
            if isinstance(self.dmisfit, DataMisfit.BaseDataMisfit):
                f = self.dmisfit.prob.fields(m)
            elif isinstance(self.dmisfit, Objectiv

[2017-12-29 08:26] thast commented on #663
I like that. That would make more sense indeed I think to act directly on `invProb.reg` (and `misfit`). As I mentioned earlier,

Also, referring to your previous question @fourndo,

I think it is a more natural way (to me) to access the regularization through `invProb.reg` and not `Directives.reg` , as regularization is part of the inverse problem more than the directives. I do not actualy mind as

[2017-12-29 16:34] lheagy commented on #663
@fourndo, @thast: thanks for thinking this through! I agree that having the invProb turn the datamisfit and regularization into combos is probably the cleanest for now.

@thast: regarding the second comment by accessing the regularization through the invProb vs. the Directive - this is a bit of long-term thinking, so see what your thoughts are:

Eventually, I think that we want directives to be ti

[2018-01-02 23:32] lheagy commented on #474
This closed with #511

[2018-01-02 23:32] #474 closed

[2018-01-02 23:35] lheagy commented on #71
I think we can close this. The general approach for including parametric maps was addressed in #480.

Thoughts @rowanc1? @sgkang?

[2018-01-02 23:40] lheagy commented on #156
Testing has significantly improved on the EM portion of the code since publishing the EM paper (#622)

[2018-01-02 23:40] #156 closed

[2018-01-02 23:41] lheagy commented on #201
This is covered in the more recent issue #646

[2018-01-02 23:41] #201 closed

[2018-01-02 23:42] lheagy commented on #207
@grosenkj, I think this is more within the scope of [geoana](https://github.com/simpeg/geoana). Do you want to open up an issue over there?

[2018-01-03 00:00] lheagy commented on #167
Testing on EM Utils is at 78.85% (https://codecov.io/gh/simpeg/simpeg/tree/master/SimPEG/EM) which is above the project average of 71%

[2018-01-03 00:00] #167 closed

[2018-01-03 00:39] lheagy commented on #512
this closed (ages ago) with #363

[2018-01-03 00:39] #512 closed

[2018-01-04 20:10] lheagy opened #664 "allowing components in fields eg. fields[:, 'jx', :]"
It might be handy to be able to index the fields object also by component, if I only want the `x` component of the current density, it is only the first `nFx` entries in fields[:, 'j', :]. Thoughts?

[2018-01-05 18:46] mcflugen commented on #661
@rowanc1 we definitely need to find some ways to collaborate. There sounds like a lot of overlap in what we are doing.

We actually already do some work with parameter estimation (as well as optimization, uncertainty quantification, and sensitivity analysis). We (well, actually, @mdpiper) have written a Python package ([dakotathon](https://github.com/csdms/dakota)) to help with this and that can w

[2018-01-10 18:29] #649 closed

[2018-01-10 18:30] #522 closed

[2018-01-16 19:23] thast opened #665 "NSEM plot_inversion_1D fails on travis"
the NSEM example `plot_inversion_1D` fails on travis with python 2.7.

As it is due to a plotting issue (see screen capture), the `PlotIt` argument in the example has been set to `False` until further fix.

![job 4579 18 - simpeg_simpeg - travis ci - google chrome 2018-01-16 11 18 35](https://user-images.githubusercontent.com/13682747/35007825-76c92a8e-faaf-11e7-9465-651891ed5ea8.png)

[2018-01-18 03:11] lheagy commented on #562
I have been giving this some more thought, especially working with setting up some of the [casing simulations](https://github.com/lheagy/casingSimulations), as well as working with @prisae on plugging [empymod](https://github.com/empymod/empymod) into SimPEG. I agree that we should scrap the distinction between the `Problem` and the `Survey` in favour of a `ForwardSimulation` (or `Simulation`) whi

[2018-01-21 23:42] rowanc1 opened #667 "Core Utils to their own repo?"
This is a first pass list at some of the utilities that could be taken out of simpeg and put in a small repo (`matutils`? maybe that is too specific?). The thought is that this would enable us to pull out some of the components we are building into other smaller more targeted, easier to deploy repositories (`objfun`, `regularize`) and we could experiment with putting things like `dask` in from the

[2018-01-21 23:45] rowanc1 commented on #651
I have deleted the cname record.

[2018-01-21 23:45] #651 closed

[2018-01-22 05:59] lheagy commented on #667
Agreed. These are all over in discretize at the moment, so we may want to move this issue over there.

In addition, there are a few utils in the `coordutils` that might also be moved over.

[2018-01-23 01:52] sgkang opened #668 "optimizing code: simpeg-tdem"
working on optimizing simpeg em codes.
got some progress just by storing some Derivatives (e.g. MeSigmaDeriv...)
![image](https://user-images.githubusercontent.com/6054371/35253856-5f11c21a-ff9c-11e7-8793-4cd3d0c724a1.png)
![tdem_jtvec_profile_0](https://user-images.githubusercontent.com/6054371/35253902-a3ff2a5c-ff9c-11e7-8396-fec2850bd0bd.png)

Still, we are spending quite a bit of time for Fiel

[2018-01-23 02:57] rowanc1 commented on #668
![image](https://user-images.githubusercontent.com/913249/35255681-7091d820-ffad-11e7-9b88-20eae02409bd.png)

1. If the `ind`ex is just a `slice` or an integer, there is really not that much to speed up. This is just putting a view onto the array.
2. If it is an aliased field, we could cache the array version of the `srcList` (small speed up, maybe)
3. We could calculate the alias all at once befo

[2018-01-24 06:46] lheagy commented on #562
Here is a sketch of an idea

[code]

Any Simulation class would then inherit both the BaseSimulation and a PhysicsMixin.

From here, we can add some validation (eg make sure that the mesh is suitable for the physics - check skin-depth or similar) and build utilities (eg. create mesh from source parameters, etc).

On the EM side of things, I would see a namespace along the lines of

[code]

[2018-01-26 02:57] sgkang commented on #668
Thanks @rowanc1 I'll try first with integer, and see how much speed up that I could get.

[2018-02-05 01:40] craigmillernz opened #669 "TensorMesh object has no attribute 'aveCC2FV'"
TensorMesh used to have this attribute (aveCC2FV), late 2017, but the version 0.7 seems to have dropped it.
Lindsey suggested :

but this is pretty cumbersome when a previous attribute already did it.

Could aveCC2FV please be added back?  I'm using it in an SP inverison

[2018-02-05 02:51] craigmillernz commented on #669
transferred to discretize

[2018-02-05 02:51] #669 closed

[2018-02-06 19:23] lheagy commented on #268
This will be superseded by #562

[2018-02-06 19:23] #268 closed

[2018-02-12 06:30] lheagy commented on #562
On further thought, I think the `Mixin` is overkill. We can just put that in the simulation

[2018-02-12 20:13] micmitch opened #671 "Flipping the Z sign of electrode locations when reading or writing UBC DC data files"
All of my testing indicates that we should not be flipping the Z sign of electrode locations when reading or writing UBC DC data files. Although the UBC codes may be z positive down I believe that the electrode location data needs to be z positive up.

Seogi seems to have some tests which indicate we do need to flip the Z sign of electrode locations.

Seogi and I need to try and sort this out...

[2018-02-12 21:42] lheagy commented on #202
This is closely related to the changes being made in #562. I have sketched out a first pass implementation below. It lives on the `ref/simulation` branch at the moment. Some important changes:
- `dobs` is a vector attached to the object (maybe we make it immutable?). This is the anchor point and is the true data, as a vector. Around it, we build functionality for accessing the data in a reasonable

[2018-02-14 02:26] grosenkj commented on #202
I like these changes. I think that the old `Survey` was to broad in scope, specially when used with `Data` classes.

My main comment regarding the above sketch are on the `standard_deviation`, `floor` and `uncertainties`. I am all for them being included but I think that all should be a array of the same length as dobs. That is how approached it in #515, where I implemented the `standard_deviation

[2018-02-14 05:37] lheagy commented on #202
Thanks @grosenkj, I have since updated this on #672. You can input a scalar for the standard deviation and noise floor, and these will be cast to arrays of the same size as the number of data.

[2018-02-18 00:30] lheagy opened #673 "Fields startup"
Right now, at least in the EM code, a lot of things are being created on the startup of the Fields object. Really, the biggest thing is that the model be saved with the fields. All other operators can be lazily created when they are called, not everything need be done on the startup. The creation of a fields object can be quite slow if a mesh is large simply because all of these operators are bein

[2018-02-21 05:22] lheagy commented on #656
closed with #674

[2018-02-21 05:22] #656 closed

[2018-02-21 07:58] Kapondo opened #675 "Gravity: Laguna del Maule Bouguer Gravity Jupyter Notebook error message"
Hi @lheagy _et al_

I have downloaded the Jupyter notebook: plot_laguna_del_maule_inversion.ipynb and I am failing to reproduce the results with the below error message:
---------------------------------------------------------------------------
**ModuleNotFoundError**                       Traceback (most recent call last)
`<ipython-input-2-d7894da672b6> in <module>()`
     2 import shutil
     3

[2018-02-21 08:06] Kapondo commented on #675
Hi @lheagy _et al_

Sorry, wrong virtualenv, above. The actual error message is as shown below:

Done 100% ...forward operator completed!!

---------------------------------------------------------------------------
AttributeError                            Traceback (most recent call last)
<ipython-input-2-d7894da672b6> in <module>()
    239
    240 if __name__ == '__main__':
**--> 241     run()*

[2018-02-21 16:13] lheagy commented on #675
Hi @Kapondo, please download the most recent version of the notebook: http://docs.simpeg.xyz/content/examples/04-grav/plot_laguna_del_maule_inversion.html#sphx-glr-content-examples-04-grav-plot-laguna-del-maule-inversion-py, we have replaces `Update_lin_PreCond` with `UpdatePreconditioner` and the most recent example should include those changes.

[2018-02-21 16:14] lheagy commented on #675
to run the most recent one, please also make sure you are on `SimPEG 0.7.1`

[2018-02-22 07:11] Kapondo commented on #675
@lheagy, thanks a million. Working perfectly now!

[2018-02-22 08:30] Kapondo commented on #675
@lheagy _etal_, I am battling to upgrade to SimPEG 0.7.1. I tried using `pip install --upgrade SimPEG` but when I check on the version, it is still 0.7.0. I get the information that all SimPEG and related packages are up-to-date.
Is there another way of upgrading SimPEG that you can recommend.

Thank you

[2018-02-22 16:16] lheagy commented on #675
Hi @Kapondo, thanks for catching this. SimPEG 0.7.1 had not been deployed to pypi. Now it is there, so if you run `pip install --upgrade SimPEG` that should now put you on 0.7.1. Sorry for the confusion!

[2018-02-22 16:47] fourndo commented on #675
Let us know if you have more potential fields questions @Kapondo.
We have a lot of tools hanging around that are currently not exposed in the official release:  joint inversion, homogeneous inversion, rotated norms, MVI, petrophysical constraints and so on. Will be our pleasure to share with you.

[2018-02-25 01:13] lheagy commented on #207
This issue was moved to simpeg/geoana#7

[2018-02-25 01:13] #207 closed

[2018-02-25 01:18] lheagy commented on #675
@Kapondo: since SimPEG 0.7.1 is now on pypi, I am going to close this issue. Please re-open it if you are still running into problems.

[2018-02-25 01:18] #675 closed

[2018-02-25 01:19] lheagy commented on #607
closed with #674

[2018-02-25 01:19] #607 closed

[2018-02-26 07:32] Kapondo commented on #675
Thanks @lheagy, you can close the case. Everything seems working fine for
now. Much appreciated.

Best Regards
--------------------------------------------------------------------------------------------------------------------------------------

*Tongesai Kapondo*

20 Camelot
176 Helen Road
Strathavon
Sandton
2196 Johannesburg

C +27 79 508 8233
T +27 11 783 0163

E t.kapondo@gmail.com
Skype: kap

[2018-03-06 22:20] lheagy opened #680 "TDEM inductive sources with permeable models"
#677 contains a first implementation of solving the magnetostatic problem when a step-off waveform is used and the model has variable permeability. This is not yet complete
- [ ] need to extend the implementation to address H-J formulation (only E-B has been addressed at the moment)
- [ ] need to investigate boundary conditions for the magnetostatic problem. Dirichlet boundary conditions are appli

[2018-04-08 17:35] rowanc1 opened #686 "Objective function"
I think that the `L2ObjectiveFunction` does not calculate the second derivate correctly:

![image](https://user-images.githubusercontent.com/913249/38470468-be4b1136-3b20-11e8-977b-10bf2657ac32.png)

I think it should use the `W` not the `self.W` in the final line:

`return W.T * W`

[2018-04-08 17:38] lheagy commented on #686
Agreed, the return should be `W.T * W`. We likely missed this because `deriv2` is usually passed a vector, and therefore we return at line 444. With this fix, a short test that ensures that `deriv2` returns the same thing with and without a vector would be benificial

[2018-04-10 23:08] lheagy commented on #562
Over in opengeophysics/objectivefunction#3, we are talking about removing the need to pass the fields around in the objective function (specifically, in the data misfit). In that case, we would need to stash the fields on the simulation. I think that is within scope of this refactor.

TODO:
- [ ] stash fields on simulation (clear on model update)
- [ ] remove need to pass around fields in objectiv

[2018-04-10 23:28] lheagy opened #688 "Fields Viewer"
In my [casing repo](https://github.com/simpeg-research/casingSimulations), I have been working on making a simplified interface for viewing fields (`charge`, `phi`, `e`, `b`) that can be readily connected to ipywidgets so that you have an app in 2 lines of code.  The [code](https://github.com/simpeg-research/casingSimulations/blob/master/casingSimulations/view.py#L217) is (very!) rough right now,

[2018-04-21 16:10] #686 closed

[2018-05-01 16:04] prisae commented on #562
This is only loosely related to this issue. But I would very much appreciate your feedback.

I created an issue related to `Survey` and `Model` classes in a potential future version of `empymod`: https://github.com/empymod/empymod/issues/14.

I would highly appreciate any of your thoughts and ideas, specifically from you experience with `SimPEG`. One benefit could be that it would be easier to imp

[2018-06-07 05:52] lheagy opened #697 "displaying versions"
@prisae suggested including a util for printing the version the core packages in your environment for reproducing SimPEG simulations and inversions.

![selection_001](https://user-images.githubusercontent.com/6361812/41080452-62769382-69db-11e8-9590-6ae690435f90.png)

![selection_002](https://user-images.githubusercontent.com/6361812/41080448-5fe4715c-69db-11e8-97fe-73bc225623eb.png)

**Required P

[2018-06-07 06:31] prisae commented on #697
Great, thanks @lheagy. I hope I get around it this weekend.

[2018-06-26 19:04] prisae opened #700 "Features list"
SimPEG is missing a "Features"-list which clearly states what SimPEG (and its sub-repos/sub-projects) can do. So people searching the internet to solve problems can see at one glance whether SimPEG can help them or not, without having to dig through all the examples or all the code.

This should make it much more attractive for new users, but even help current users like myself to, e.g., recommend

[2018-06-27 16:34] prisae commented on #662
Matplotlib plots can be tested with `pytest` and the `-mpl`-flag. I don't know if there is a move planned once to `pytest` (`numpy` just did), but together with this one could start testing plots.

[2018-06-27 16:37] prisae commented on #662
(This comment only indirect affects the coverage issue which @thast mentioned, but is more related to the used testing framework, not coverage framework.)

[2018-06-27 16:51] lheagy commented on #662
Yeah... I have been looking at pr #698, and pytest does seem to be much more transparent.

[2018-06-27 16:56] lheagy commented on #412
We have made a start on this in #699 and simpeg/geoana#9 for dipole and loop sources in EM.

[2018-06-27 17:00] lheagy commented on #671
@micmitch, @sgkang: is this still an issue? or has it been sorted out?

[2018-06-27 17:03] lheagy commented on #653
@sgkang: can this issue be closed? it was addressed in #650??

[2018-06-27 17:32] lheagy opened #702 "pytest"
After seeing @prisae's tests in #698, I think that we should explore using `pytest` over `unittest` to make our testing scripts simpler and more transparent. (https://docs.pytest.org/en/latest/) Numpy also recently made the transition.

It is compatible with unittest out of the box, so a transition should not be too painful.

[2018-06-27 17:32] lheagy commented on #702
This would also help with #662

[2018-06-27 17:34] lheagy opened #703 "transition to pytest"
The numpy docs are much more readible as a developer than the vanilla sphinx docs:
https://numpydoc.readthedocs.io/en/latest/example.html#source and resolve nicely as html, similar to what we expect from vanilla sphinx. We should consider switching over.

My main concern is the interaction with the auto-documentation with `properties`. @fwkoch, have you experimented with the sphinx-napoleon extens

[2018-06-27 22:29] sgkang commented on #653
yes it's done deal.

[2018-06-27 22:29] #653 closed

[2018-06-28 23:28] #697 closed

[2018-07-03 19:09] Meredithgoebel opened #705 "TDEM Depth of Investigation"
Im trying to get depths of investigation for some 1D and 2D TDEM inversions using the method outlined by Christiansen and Auken (2012) (DOI: 10.1190/geo2011-0393.1), but am struggling to get my code to run when I try to use the inversion directives needed for getting the jacobian. An example of how to do this would be super helpful!

Thanks

[2018-07-03 19:14] lheagy commented on #705
@sgkang expressed interest in this at today's SimPEG meeting

[2018-07-03 20:44] rowanc1 commented on #705
https://www.youtube.com/watch?v=-oWVgt1fM1E
For the record! :)

[2018-07-04 06:04] sgkang commented on #705
hi @Meredithgoebel,

There are multiples ways to evaluate DOI, but if you are particularly interested in Christiansen and Auken (2012), following notebook can be a good starting point.

http://localhost:8888/notebooks/notebooks/examples/depth-of-investigation-christiansen-2012.ipynb

You can run this notebook in binder:

https://mybinder.org/v2/gh/simpeg/simpegEM1D/master?filepath=notebooks

Let u

[2018-07-30 19:57] dccowan commented on #659
@lheagy I've actually spent some time fixing bugs related to generating the docs and including IP and VRM. If we reach a consensus on where things should go, I don't mind pitching in.

[2018-07-30 20:05] lheagy commented on #659
Excellent, thanks @dccowan: I will spend some time this week on sketching this out further and maybe we can get moving on it later in the week

[2018-08-06 21:00] lheagy opened #709 "vrmfwd_tests failing"
@dccowan: the vrmfwd_tests is currently failing on master (https://travis-ci.org/simpeg/simpeg/builds/411825516). This might be related to the OcTree updates in discretize. Could you please take a look into this? I think you might have fixed this in #708, but if you could make a small, isolated pr with the fix onto master, we can get it in ASAP.

[2018-08-08 18:09] lheagy opened #712 "use volume as cell weights by default in IRLS by default"
if users don't set a cell volume by default in the IRLS, we should use the cell volumes

cc @fourndo

[2018-08-08 20:16] thast opened #713 "Bug in Regularization Mesh"
https://github.com/simpeg/simpeg/blob/d715980cf0b529c6e5f24daf35996de9ede0189d/SimPEG/Regularization.py#L432

`self.mesh._cellGradyStencil` (and related) are now methods, thus the bug. It should be `self.mesh._cellGradyStencil()`

[2018-08-08 20:18] lheagy commented on #713
@thast, are you on the most recent version of `discretize`? All cell grad stencils should be properties (not methods). This should have taken effect as of `discretize 0.2.0` https://github.com/simpeg/discretize/releases/tag/0.2.0

[2018-08-08 20:25] thast commented on #713
Right, sorry I forgot to pull the latest... my bad!

[2018-08-08 20:25] #713 closed

[2018-08-09 00:12] dccowan opened #714 "Improvements to VRM code and examples"
This pull request addresses suggestions by @prisae on PR #711 and a cleanup of VRM examples. Issues include:

- [x] The replacement of 'assert' type error evaluation by 'raise'
- [x] Optimization of the creation of the sensitivity matrix
- [x] More concise and clean python examples for VRM
- [x] Adopt naming convention for classes, methods, properties and variables

[2018-08-11 20:37] lheagy opened #716 "Parametric block map"
Right now, the parametric block map uses multiplication of arctan functions to construct the parametrization. This is okay if a large slope is used on the arctan function is used, but if a more gradual (inversion friendly) slop is used, the block gets smeared out oddly
![image](https://user-images.githubusercontent.com/6361812/43995803-7f6c796c-9d6a-11e8-8842-f2c5da40a7d2.png)

Instead, we should

[2018-08-12 05:32] shahir87 opened #717 "Modelling and inverting marine CSEM response"
Hi,
Is it possible to model and invert marine CSEM response using SimPEG? If yes, I will appreciate if an example is made on this.
Best regards,
Shahir

[2018-08-12 15:34] lheagy commented on #705
@Meredithgoebel: did this address your question?

[2018-08-12 15:36] lheagy commented on #700
@rowanc1: this is connected to the website re-vamp, some other related points are in simpeg/website#10

[2018-08-13 12:58] prisae commented on #717
Hi @shahir87. As far as I know no, not at the moment (contributions welcome). For CSEM, I'd recommend:
- 1D: [Dipole1D](http://marineemlab.ucsd.edu/Projects/Occam/1DCSEM), [empymod](https://empymod.github.io)
- 2D: [Mare2DEM](http://mare2dem.ucsd.edu)
- 3D: [PetGEM](http://petgem.bsc.es) (only modelling)

[2018-08-13 14:30] shahir87 commented on #717
Thanks @prisae for your recommendation. I will check them.

[2018-08-13 23:35] sgkang commented on #717
Hi @shahir87, @prisae's comment is correct. In theory, SimPEG-EM can be used to compute marine CSEM, but we have not used so far. So, you may need to explore that if you want to use SimPEG-EM for marine CSEM application. But, we can definitely help, and point you to right direction, so let us know if you have a specific application in mind.

It's a bit of tangent, but we hooked up @prisae's `empym

[2018-08-13 23:37] sgkang commented on #716
@lheagy that seems weird. What was your slope constant? If you are fixing that slope as a high number, you may not get those smoothing.

[2018-08-14 00:03] lheagy commented on #716
Yep, the slope is constant, but to get better convergence of the inversion, you don't want it to be too high (it line-searches like crazy). I am working on a different formulation that instead of multiplying the arctan functions, we define the rectangle using approximate infinity norms - then we can use a gentle slope and still have it look like a rectangle:

![image](https://user-images.githubuse

[2018-08-14 01:49] #717 closed

[2018-08-14 09:43] Wangyuesheng666 opened #718 "Problems for jupyter notebook"
[I 17:39:58.098 NotebookApp] The port 8888 is already in use, trying another port.
[I 17:39:58.099 NotebookApp] The port 8889 is already in use, trying another port.
[I 17:39:58.100 NotebookApp] The port 8890 is already in use, trying another port.
[I 17:39:58.100 NotebookApp] The port 8891 is already in use, trying another port.
[I 17:39:58.140 NotebookApp] JupyterLab beta preview extension loade

[2018-08-14 15:29] fourndo commented on #718
Hi there,
Have you tried to do the nodejs install?

```conda install nodejs```

[2018-08-14 19:39] jc-barreto opened #719 "Install SimPEG on windows"
Hello,

I'm trying to install SimPEG, but I'm getting an error.
When I try through the prompt line, with the command pip install SimPEG, installs all the packages but when arrives in the discretize I get an error:

![image](https://user-images.githubusercontent.com/42352209/44113468-11c59446-a000-11e8-9f12-20227cfb851e.png)

![image](https://user-images.githubusercontent.com/42352209/44113480-20ff

[2018-08-14 20:57] lheagy commented on #719
Hi @jc-barreto, can you try installing the latest Visual C++ from here: https://support.microsoft.com/en-ca/help/2977003/the-latest-supported-visual-c-downloads (should be 2017) and give it another try?

Let us know how it goes!

cc @fourndo

[2018-08-14 21:04] fourndo commented on #719
@jc-barreto : I had users being more successful with the Build Tools, although it is a larger installation.

https://visualstudio.microsoft.com/visual-cpp-build-tools/

[2018-08-16 12:11] jc-barreto commented on #719
Hello,
Thank you very much.
I think is done. The second tip, installing just the Build tools didn't work, so I installed all the Visual Studio 2017.

![image](https://user-images.githubusercontent.com/42352209/44207575-af4ab100-a155-11e8-9135-64df039d10ee.png)

Now I'm trying to run SimPEG to see if the installation was really successful, BUT I'm a layperson on this subject. I have tried to run th

[2018-08-16 14:49] fourndo commented on #719
@jc-barreto 👍 Ok great, thanks for letting us know about Visual Studio.

Can you try:

**pip install pymatsolver**

Then restart your kernel and run all

[2018-08-16 15:26] jc-barreto commented on #719
Thanks.

I did that...
![image](https://user-images.githubusercontent.com/42352209/44218135-f09c8a00-a170-11e8-863a-6342c15467ba.png)

![image](https://user-images.githubusercontent.com/42352209/44217780-28ef9880-a170-11e8-8be2-0cc720a77792.png)

![image](https://user-images.githubusercontent.com/42352209/44218180-1033b280-a171-11e8-9055-913bd6740f3e.png)

But in my pymatsolver folder doesn't exis

[2018-08-16 16:09] fourndo commented on #719
Same here
![image](https://user-images.githubusercontent.com/2406426/44220640-050e6180-a134-11e8-99be-fa86bc4afa35.png)

Hmmm not too sure. Let me dig into this...

[2018-08-16 16:12] fourndo commented on #719
How about pyMKL, can you try a pip install?

**pip install pyMKL**

![image](https://user-images.githubusercontent.com/2406426/44220808-81a14000-a134-11e8-8c9c-5e097f27b97e.png)

[2018-08-16 16:14] jc-barreto commented on #719
Yeah... I tried this before too =(

![image](https://user-images.githubusercontent.com/42352209/44220886-c1d5e200-a177-11e8-86ca-3676d8cb9cc8.png)

[2018-08-16 16:17] jc-barreto commented on #719
I didn't install Python through anaconda, I already had installed when I installed anaconda, do you think this matter?

[2018-08-16 16:18] lheagy commented on #719
Hi @jc-barreto: can you try `conda install mkl`? (mkl is distributed through conda and needs some of the conda libraries and I don't think the pip install can handle this)

I just saw your updated message - installations and managing your environment will be much(!) easier if you use ananconda to install python (https://www.anaconda.com/download). Use python 3.6 and the windows install

[2018-08-20 10:35] jc-barreto commented on #719
Hello,
I uninstalled python and anaconda, and then installed python through Anaconda.
Now the example it's working. Thank you! =)

[2018-08-20 10:36] #719 closed

[2018-08-20 15:03] lheagy commented on #719
Excellent, I am glad you are up and running @jc-barreto!!

[2018-08-21 00:12] sgkang commented on #718
Hi @Wangyuesheng666 is this solved?

[2018-08-21 00:15] sgkang opened #721 "Clear statement of how SimPEG discretizes Regularization function"
There are subtleties in how we are discretizing our Regularization function,
which includes smallness and smoothness terms.
Basically, we have two options:

- `Tikhonov`: takes account volume of mesh
- `Simple`:  do not (?) take account volume of mesh

Clear definition of each function should be documented.

[2018-08-23 18:04] lheagy opened #722 "look into XArray for SimPEG"
For both data and the arrangement of the Fields object, we should consider Xarray (or an Xarray / pandas API to the fields object)

http://xarray.pydata.org/en/stable/

[2018-10-14 20:14] thast opened #726 "MASTER is failing!"

[2018-10-14 20:46] thast commented on #726
I'm lacking luck and idea on this one. Is that because we use `Sphinx v1.5.6`? Start to be outdated (v1.8 and v2 are out).

[2018-10-14 21:00] #665 closed

[2018-10-21 16:53] lheagy commented on #718
Hi @Wangyuesheng666: Did you install python through anacoda (https://www.anaconda.com/download)? If not, please give that a try first. I am going to close this issue as it hasn't been active in a number of months. Please feel free to re-open it if you are still running into problems.

[2018-10-21 16:53] #718 closed

[2018-10-28 16:05] prisae opened #733 "Benchmarks"
As SimPEG is approaching version 1.0 I was wondering if benchmarking the most important bits would be a good idea, now that the API is fairly stable?

I started a few moths ago with empymod using airspeed-velocity ([asv](https://github.com/airspeed-velocity/asv)), and am very pleased with it. It showed me unexpected bottlenecks and how seemingly tiny, unimportant commits had a serious impact (posi

[2018-10-28 17:04] prisae commented on #733
The only small downside of asv is that there is no free online service like travis-ci, coveralls, etc. You have to run it on your own. But I think it wouldn't be too difficult to make on the UBC server a cronjob that runs `asv run NEW` and subsequently `asv publish; asv gh-pages`, which would then daily run all new commits to master, and publish the result to the defined location.

[2018-11-16 19:32] thast opened #734 "IO.pseudosections and Utils.plot2Ddata CLIM is not doing anything."
Thanks @sdevriese for finding it!
Currently the argument `clim` is not doing anything for those two functions, which are used in the binders for visualization.
@sdevriese is trying to use it at her work, using the binders to visualize their own data. I have provided a quick fix, using the DCUtils instead of the IO class but I'd really like to see it fix and merge quickly so we can encourage more u

[2018-11-16 19:58] sdevriese commented on #734
I really appreciate all the help from @sgkang and @thast this morning! Now on my to-do list is to download and install simpeg (on windows...) so I don't have to use binder and can modify and more easily save notebooks.

[2018-11-21 13:49] jc-barreto opened #739 "Error installing SimPEG - Geoana"

[2018-11-21 14:00] jc-barreto commented on #739
Hi, I have SimPEG at university and now I'm trying to install in my particular pc.
I did the same steps: 1º Anaconda, 2º Visual Basic, 3º Upgrade pip, 4º install SimPEG by cmd line, and I got the error :
![image](https://user-images.githubusercontent.com/42352209/48845656-fff52a00-ed94-11e8-9659-0e6029b69c35.png)

So, I tried to install through git
and I got another error
![image](https://user-ima

[2018-11-21 19:07] lheagy commented on #739
Hi @jc-barreto, a couple things to try, can you first try running
[code]
(e.g. without the python -m)

If that fails, then please try pip installing `geoana` and then try SimPEG again.

Please let us know if that works!

[2018-11-29 21:56] jc-barreto commented on #739
Hello again,

I tried the pip install SimPEG and I got the same error.
so I did pip install geona and after pip install SimPEG, now I'm having a
problem to build wheel for discretize, but I have installed the Visual C++ 2017, I should have the MSVCCompiler...
I don't know

![image](https://user-images.githubusercontent.com/42352209/49254463-2bc18100-f421-11e8-81cc-4e35f66e6d0a.png)

![image](https

[2018-12-02 18:06] lheagy commented on #739
👋 Hi @jc-barreto: were you able to get up and running?

[2018-12-03 09:35] jc-barreto commented on #739
Yeah... I got it, but I don't know exactly how. I removed all visual basic from my pc (I had a lot of old versions packages besides 2017), and then I installed just 2017.

[2018-12-07 23:37] prisae opened #741 "Module name"
This is just meant as a discussion. But something that probably would have to be decided before the release of `v1.0`.

What about changing the module name from `SimPEG` to `simpeg`?

- Pro's:
  - Following the convention of most packages, in that the package and module names are identical.
  - Following pep8 guidelines, in which packages and modules should have all-lowercase names.
  - Less confu

[2018-12-08 00:18] lheagy commented on #741
I do agree that this would be a better name.

... but I am afraid of how painful it would be to change at this point. Is there an easy way to depreciate the name? (e.g. allow backwards compatibility for a time?). I don't really think so at the module level??

[2018-12-08 00:41] prisae commented on #741
I also think it is not possible on module level, and therefore not very feasibly. I just thought it might be worth to have the discussion before `v1.0`. Because now you could at least still argue "it is not `v1.0` yet, so API changes have to be expected" :wink:

Also in light that at some point there was discussion to make many of the variable names more pep8ish. So if this would result in a one-o

[2018-12-08 01:09] lheagy commented on #741
that is true, it could be lumped under a major refactor

[2018-12-09 04:40] thast commented on #734
solved in PRs #735 and #738

[2018-12-09 04:40] #734 closed

[2018-12-13 19:28] thast opened #746 "`DataMisfit.std` is always 5%, no matter the `survey.std`"
`DataMisfit.std` is always 5% and never take into consideration `survey.std`. So you are forced to set `DataMisfit.W` manually... (so many example to rerun on my end ^^')

Taking care of in PR #745

[2018-12-13 20:16] micmitch commented on #746
That sucks.... Lots to rerun on my end too. Thanks for catching this @thast !

[2018-12-21 21:31] thast commented on #746
fixed in PR #745

[2018-12-21 21:31] #746 closed

[2019-01-08 11:56] xtt790894620 opened #750 "pip install trouble"
Dear professers:
        i tried to 'pip install SimPEG',but caught a mistake as follows:
![image](https://user-images.githubusercontent.com/43670539/50829364-402d5d80-137f-11e9-98ad-74dd368b56cc.png)
![image](https://user-images.githubusercontent.com/43670539/50829374-491e2f00-137f-11e9-8ed3-f41441069c8f.png)
        i tried a lot of times,but couldnot solve it by myself,i would appreciate you if

[2019-01-08 12:18] xtt790894620 commented on #719
i have met the same troubl,how can i get through it?

[2019-01-08 12:18] xtt790894620 commented on #719
![image](https://user-images.githubusercontent.com/43670539/50830379-951ea300-1382-11e9-8dd0-45ce5d50661c.png)
![image](https://user-images.githubusercontent.com/43670539/50830383-99e35700-1382-11e9-9854-eaf6a00b0b97.png)

[2019-01-08 14:47] fourndo commented on #719
@xtt790894620 Looks like VS is still giving you trouble indeed.
I am not sure which one you have downloaded and installed, but this one works on all PCs I seen so far:
[Visual Studio Community](https://visualstudio.microsoft.com/vs/community/)
![image](https://user-images.githubusercontent.com/2406426/50837675-12a9cb00-1311-11e9-8ec4-c875af2f4ada.png)

Make sure during the installation that you've

[2019-01-08 21:13] lheagy commented on #750
How do you have python installed? is it through anaconda (https://anaconda.com/download/). Also it looks like you are running windows - do you have the most recent version of visual studio installed (https://visualstudio.microsoft.com/visual-cpp-build-tools/)?

[2019-01-08 21:21] lheagy opened #751 "run black on SimPEG"
similar to simpeg/discretize#132, I think we should be using [black](https://github.com/ambv/black) on SimPEG to format the code. This will help with line-spacing and should simplify the diffs on pull-requests. It also means we do not need to format the code by hand.

[2019-01-08 22:23] prisae commented on #751
`black` uses by default a line length of 88.  They say it makes code shorter. Most likely it does, as the line length is longer. However, if you look at code through a terminal or an IPython terminal or vim or emacs etc (which I think still many do), then a line length of 88 is simply horrible.

I am fine with `black`, but I'd suggest to set `--line-length 80` to restore the "normal" behavior.

[2019-01-09 00:17] lheagy commented on #750
correction: please try the community version: https://visualstudio.microsoft.com/vs/community/

[2019-01-09 01:19] xtt790894620 commented on #750
Hi,lheagy：
    it works for me.thank you a lot. I am trying my best to learn how to use SimPEG. In addition,i still have one question whether SimPEG can forward 2-D MT model and achieve MT data Ex,Ey,Hx,Hy.
    hope for your reply,thank you a lot.

[2019-01-18 21:44] lheagy commented on #750
Hi @xtt790894620: glad to hear it! The way that you would forward model 2D MT data in SimPEG would be to use [Maps.Surject2Dto3D](http://docs.simpeg.xyz/content/api_core/api_Maps.html#map-2d-cross-section-to-3d-model). There is an example that uses that map for an airborne em simulation [here](https://github.com/simpeg-research/heagy-2018-aem). See the forward simulation: [1_TEM_VerticalConductor_

[2019-01-21 17:59] lheagy opened #753 "tolerances on VRM tests"
The VRM tests seem quite sensitive to the random seed. We should either:
- soften the tolerances so that the tests are less susceptible to failure
- or set a reliable seed for the random aspects of the test

@dccowan: would you be willing to take this on?

[2019-01-21 18:04] fourndo commented on #753
@dccowan is away for another month. I would say we should just fix the seed.

[2019-01-21 18:04] lheagy commented on #753
okay, we can do that

[2019-01-21 18:34] thast commented on #753
This is what I did on my branch.
![image](https://user-images.githubusercontent.com/13682747/51492826-f45bba80-1d67-11e9-80d7-4a8fa48a6c9c.png)

I can get a PR in this afternoon.

Note: 518936 is the closest I could get to 'SimPEG' with numbers

[2019-01-22 11:40] paoman86 commented on #639
I was trying to install SimPEG after installing Anaconda3 but got the same error about building a wheel for discretize.
I installed the C++ libraries from the link suggested in the SimPEG page
I also follwoed solution proposed for discretize issue 69 and discretize 0.1.1 was installed correctly but when trying to properly install SimPEG it removed the 0.1.1 version to install the 0.3.8 version of

[2019-01-22 16:22] fourndo commented on #639
@paoman86 : Can you try to re-install VS with the one provided in issue #750

[2019-01-22 20:00] paoman86 commented on #639
Thank you @fourndo for the help but still having an error concerning the fatal error C1083 ... 'io.h': No such file or directory:
...
Building wheels for collected packages: discretize
  Running setup.py bdist_wheel for discretize ... error
  Complete output from command C:\Users\musta\Anaconda3\python.exe -u -c "import setuptools, tokenize;__file__='C:\\Users\\musta\\AppData\\Local\\Temp\\pip-ins

[2019-01-22 22:47] fourndo commented on #639
Hmmm strange. Just tried to re-install here without issue.
Can you try to upgrade all your libraries
``conda update --all``

then try the install again

[2019-01-22 22:48] fourndo commented on #639
And just to make sure, you've installed VS Community with the C++ module, yes?
![image](https://user-images.githubusercontent.com/2406426/51570740-c99b6000-1e54-11e9-9dfc-5ce23c164022.png)

[2019-01-23 14:01] paoman86 commented on #639
Finally I managed to install it correctly. Here the procedure that worked on my win10:
installed anaconda3
Installed the visual studio community 2017 set as from the previous screenshot
installed the Visual C++ libraries from
https://support.microsoft.com/en-ca/help/2977003/the-latest-supported-visual-c-downloads
Thanks to @fourndo for the help

[2019-01-23 16:34] fourndo commented on #639
Glad to hear.
Welcome aboard.

[2019-01-23 17:01] lheagy commented on #753
closed with #754

[2019-01-23 17:01] #753 closed

[2019-01-29 23:11] lheagy commented on #750
I am going to close this issues since the pip install is working. Feel free to open a new one if you have further questions about the code.

[2019-01-29 23:11] #750 closed

[2019-02-21 01:23] dccowan commented on #714
I think this was all addressed in PR #720

[2019-02-21 01:23] #714 closed

[2019-02-21 01:31] dccowan commented on #709
I think this was fixed a while ago. I believe it was related to the naming of the get cell centres function.

[2019-02-21 01:31] #709 closed

[2019-02-22 01:31] dccowan commented on #659
Hi @lheagy and @rowanc1 . I have a few thoughts.

- I like the numpy format for auto-generating the API that was suggested for the discretize repository. See https://github.com/simpeg/discretize/pull/134
- Where do we want to put the background theory for how problems are solved numerically? Do we want to put this in the docstring for each problem class and have it generate as part of the API? Do

[2019-02-22 02:17] lheagy commented on #659
thanks @dccowan: this is excellent! I will dive in over the next few days and we can chat about it at the meeting next week. Just double checking, have you seen the developments in simpeg/discretize#134?

[2019-03-01 18:59] sarahgarre opened #759 "Timelapse inversion with SimPEG"
Could we start looking into how to do timelapse inversion with SimPEG?
Below 4 typical ways to deal with timelapse inversion:
![image](https://user-images.githubusercontent.com/1822914/53659646-f2133880-3c10-11e9-8c27-f9a68cc4ea21.png)
The most commonly used is the difference inversion.
![image](https://user-images.githubusercontent.com/1822914/53659710-0f480700-3c11-11e9-8a4f-8649ffd21bb0.png)

[2019-03-01 19:50] thast commented on #759
Hi @sarahgarre ,
At first glance, it seems to me the time lapse inversion can be written in a very similar to the static inversion (assuming your m_0 is fixed and thus that you only invert for one m_k at a time). See my slide attached. If true, we would not need to modify anything to the SimPEG core code to make it happen.
![untitled presentation](https://user-images.githubusercontent.com/13682747

[2019-03-04 22:41] thast opened #760 "Properties `_check_model_valid`"
I'm no expert with `properties` so I require help on that one.
I get warnings for the shape of my model and my mapping (while they are the right shape, as it computes the right things).

It seems to come down to that, in the `_check_model_valid` test, one warning is not conditioned to an `if` statement. Is that a bug or am I missing something? Thanks for the help

https://github.com/simpeg/simpeg/

[2019-03-04 22:52] thast opened #761 "Inconsistent naming convention in PF mappings"
There seems to be a naming discrepancy in the `PF` module and that causes me some trouble.
In the `Gravity` module, there are two aliases for `rhoMap`: [`mapping`](https://github.com/simpeg/simpeg/blob/f4d03c44d7bd0369bf73b5b51131bd7f0c6a718d/SimPEG/PF/Gravity.py#L50) and [`mapPair`](https://github.com/simpeg/simpeg/blob/f4d03c44d7bd0369bf73b5b51131bd7f0c6a718d/SimPEG/PF/Gravity.py#L191).
In the `

[2019-03-05 19:08] dougoldenburg opened #763 "What is the definition of misfit"
I think we need two distinct words: one describes the normed value; the other describes the final item that is put into phi_d in the inversion and includes the normed value multiplied by a scalar.

![image](https://user-images.githubusercontent.com/6361812/53839437-548b7200-3f4c-11e9-9615-a7c6c3e37dab.png)

![image](https://user-images.githubusercontent.com/6361812/53839452-5e14da00-3f4c-11e9-8530

[2019-03-05 21:47] lheagy commented on #760
@thast: could you include a minimal example that generates the error you are describing?

[2019-03-05 23:58] thast commented on #763
Just to summarize my opinion here:
1) There are many options for normalizing (`1`, or `1/2` or `1/nd` (`nd`: number of data)). So whatever choice we make, we will have to be explicit about it and about the target misfit (`nd`, `nd/2` or `1`.).
2) I like the `1/2`, not (only) for the optimization or because it is already set up, but also (and that is a very biased reason I agree), is that it also c

[2019-03-13 00:03] thast commented on #760
@lheagy : Here is a slight modification of the Gravity linear example to demonstrate it (the modification adds a wire to the mapping, which seems to cause the issue.) (to run before PR #762 is merged, as it fixes the issue but for Gravity only... there is something deeper going on I feel)
[Demo Jupyer notebook](https://drive.google.com/open?id=1UcZ-fnfHQ7ayxq-wGWk5Drh2Q5DFlMIu)

[2019-03-13 03:26] lheagy commented on #760
excellent, thanks @thast! I am at the Jupyter meeting this week so have minimal bandwidth at the moment, but  I will plan to jump in before the meeting next week

[2019-03-13 04:51] thast commented on #760
No rush @lheagy , enjoy the conference :)

[2019-03-19 06:59] prisae opened #764 "Upload `objects.inv` for intersphinx"
Looks like at the moment the `objects.inv`-sphinx file is not uploaded to the docs. This file is necessary to do intersphinx-mappings, which is a great tool.

[2019-03-19 17:56] prisae opened #765 "DOC: Source code not linked, 404"
Some (all?) of the source codes are not linked anymore. To reproduce: Go to, e.g., http://docs.simpeg.xyz/content/em/api_FDEM.html?highlight=fdem%20src%20rawvec_e#SimPEG.EM.FDEM.SrcFDEM.RawVec_e and there click on "source". It results in the following 404 error-page:

## Error: Not Found
### The requested URL /_modules/SimPEG/EM/FDEM/SrcFDEM.html was not found on this server.

[2019-03-19 22:22] sgkang opened #766 "grounded source implementation for octree"
- `LineCurrent` class used for time-domain EM code needs to be extended to `FDEM` problem and Octree Meshes.

- This basically requires to extend `getSourceTermLineCurrentPolygon` in CurrentUtils.py

- May need some help from @jcapriot

[2019-03-19 22:24] sgkang opened #767 "general loop source implementation"
- We have two options for the inductive source: `MagDipole` and `CircularLoop`

- To handle general shape of the loop, we need a function that can evaluate magnetic vector potential from a general shape of the loop.

[2019-03-19 23:36] micmitch commented on #766
I also need to start working with grounded sources on the octree mesh soon. Not sure how much help I will be with the octree side of things but I'm happy to try and help.

[2019-03-20 16:56] jcapriot commented on #766
My first inclination of this, is that it shouldn't be too much additional work, as there is already a function to locate the cell (or cells) in a TreeMesh a given point (or list of points) is in.

[2019-03-23 07:31] prisae commented on #751
See https://github.com/fatiando/verde/issues/177 for examples and more reasoning why (I think/argue) you should, please please, set `max-line-length` to 80.

[2019-03-28 18:52] Rockpointgeo opened #771 "Gauss Newton Minimization Error"
I was working through the SimPEG examples trying to understand how the guts of the code work and I find the easiest way to do that is to keep it as simple as possible. So I wanted to try and solve the toy linear problem using GaussNewton (basically something where the matrix is actually being formed and inverted) so I can look at things step by step. Unfortunately, when we I set `opt = Optimizatio

[2019-03-28 19:27] fourndo commented on #771
Awesome @Rockpointgeo .
@sgkang  and I wrote a simpler implementation with CG solves.
Check out ```Optimization.ProjectedGNCG```, I think this should be a lot more clear.

[2019-03-28 19:31] lheagy commented on #771
Thanks for the thorough issue and example @Rockpointgeo! I think the solution you propose will patch this, but it is a bit dangerous memory-wise: for the linear problem, as H is a dense matrix. I am thinking that we might want to do something at the instantiation of the Solver instead so that the solver can be smart about dealing with a linear algebra operators. This will take a bit of thought (I

[2019-03-28 19:40] Rockpointgeo commented on #771
Thanks. @fourndo and @lheagy . I agree with worries about dense matrices, I guess I am two decades out of date so I get a bit freaked out by inexact solvers because I never really worked on large problems that required them. As @fourndo observed I am trying to replicate my GIF experience. Perhaps I should move on but don't like to do so without understanding what is happening.

I added the PR. In

[2019-03-28 19:45] lheagy commented on #771
The code for GaussNewton hasn't been touched in 5 years... haha. It would be nice to be able to compare with, so I agree that it is worth getting it up and running for this problem.

Thanks for getting #772 started 🎉

[2019-03-30 18:27] lheagy commented on #71
I am closing this as there hasn't been activity in a long time. Please re-open if you would like to continue discussing.

[2019-03-30 18:27] #71 closed

[2019-03-30 18:28] lheagy commented on #76
I am closing this as there hasn't been activity in a long time. Please re-open if you would like to continue discussing.

[2019-03-30 18:28] #76 closed

[2019-03-30 18:30] #260 closed

[2019-03-30 18:31] lheagy commented on #264
This has been addressed.

[2019-03-30 18:31] #264 closed

[2019-03-30 18:41] lheagy commented on #355
I am going to close this for now as there hasn't been activity in a long time. Please feel free to re-open if you would like to continue the discussion!

[2019-03-30 18:41] #355 closed

[2019-03-30 18:44] lheagy commented on #157
this is related to #767. I will close this in favour of #767.

[2019-03-30 18:44] #157 closed

[2019-03-30 18:46] lheagy commented on #219
I think we have resolved this by starting the [simpeg-research org](https://github.com/simpeg-research) and the [geoscixyz-data org](https://github.com/geoscixyz-data)

[2019-03-30 18:46] #219 closed

[2019-03-30 18:47] lheagy commented on #281
There isn't yet an example, but the documentation is in a reasonable state: http://docs.simpeg.xyz/content/api_core/api_Utils.html#SimPEG.Utils.matutils.diagEst. If someone would like an example, please re-open this.

[2019-03-30 18:47] #281 closed

[2019-03-30 18:48] lheagy commented on #315
Analytics should now mostly have homes in `geoana`, so this issue is out of date.

[2019-03-30 18:48] #315 closed

[2019-03-30 18:50] lheagy commented on #408
I am closing this as there hasn't been discussion in a long time. Please feel free to re-open if you have ideas on how to improve communication!

[2019-03-30 18:50] #408 closed

[2019-03-30 18:51] lheagy commented on #422
closing in favor of #562

[2019-03-30 18:51] #422 closed

[2019-03-30 18:52] lheagy commented on #336
I am closing this as there hasn't been discussion in a long time. Please feel free to re-open if you have further comments to add.

[2019-03-30 18:52] #336 closed

[2019-03-30 18:54] lheagy commented on #482
- [ ] The [simpeg-research](https://github.com/simpeg-research) github org is now a home for this. We should add a link from the SimPEG docs to point out its existence.

[2019-03-30 19:02] lheagy opened #773 "naming `coolingRate`"
The name "coolingRate"  is a bit non-intuitive - it could easily be mixed up with how much we are reducing beta (the "coolingFactor"). I suggest we consider re-naming it: `n_iter_per_beta` (or similar) to be more explicit about what it is doing. Other naming ideas are welcome!

cc @dougoldenburg, @sgkang

[2019-03-31 21:14] Rockpointgeo commented on #773
as someone who recently had to figure out what cooling rate meant I would agree with the suggested name of `n_iter_per_beta`

[2019-04-02 06:33] acceph opened #774 "NSEM : incorrect shape of rhs (right hand system?)"
Hello everyone

Recently, I tried to build NSEM inverse modeling using SimPEG (syntethics model) and my further plan is to inverse my MT field data in 3D, hopefully I got something better than my previous works.

I think the model and its calculation (forward modeling) is running good so far, but I got problems when trying to run the inversion command, the error tell me about the incorrect shape o

[2019-04-03 14:21] jc-barreto opened #775 "Problem with TimeSteps TDEM"
Hello,

I'm trying to run a TDEM field case but I'm not getting good results.
My problem is that I don't understand how to define the Time mesh.
When I put timesteps = [(1e-6, 3), 1e-5, (1e-4, 2)]  I'm giving the dt and how many dt will be with that width right? How can I define the first point? will be always zero? Should I start always at the first point of the waveform? Should I stop before the

[2019-04-03 16:37] lheagy commented on #775
Hi @jc-barreto, What is likely happening is that you  are trying to compute data that are at later times that the simulation. The time vector that is created needs to be long enough to simulate the waveform and extend long enough that the latest receiver times are captured.

Under the hood, when you create the time vector using the notation `[(1e-6, 3), 1e-5, (1e-4, 2)]`, the utility `meshTensor`

[2019-04-03 16:38] lheagy commented on #774
:wave: Hi @acceph, would you mind posting your notebooks somewhere so we can download and run it? For example, you could put it in a new github repository on your profile or put it in dropbox and send a link. Thanks!

[2019-04-03 16:44] lheagy commented on #760
Hi @thast, I had a look and I think what was happening is that there was a bit of a subtle name-clash going on. `model` has specific meaning in the base problem, when it was over-written, the name still got called, but the behaviour was based on the new definition not on the `model` at the base of the code.

https://github.com/simpeg/simpeg/blob/master/SimPEG/Props.py#L355

So it didn't go through

[2019-04-03 16:45] lheagy commented on #293
closing this as it is out of date. Please feel free to re-open if you still have questions!

[2019-04-03 16:45] #293 closed

[2019-04-03 16:46] lheagy commented on #459
closing this as it was resolved (at least in part) by removing test-runs on python 2.7 in #758

[2019-04-03 16:46] #459 closed

[2019-04-03 16:56] thast commented on #760
Thanks for taking a look @lheagy. Has said, It was fixed in PR #762 but I wanna make sure there was nothing deeper happening. I think we can close it for now.

[2019-04-03 16:56] #760 closed

[2019-04-03 16:57] thast commented on #761
solved in PR #762

[2019-04-03 16:57] #761 closed

[2019-04-03 16:59] thast commented on #636
I am closing this as there hasn't been discussion in a long time. Please feel free to re-open if you have further comments to add.

[2019-04-03 16:59] #636 closed

[2019-04-03 16:59] thast commented on #610
Mentionned at the latest meeting @lheagy @fourndo

[2019-04-03 17:00] thast commented on #608
I am closing this as there hasn't been discussion in a long time. Please feel free to re-open if you have further comments to add.

[2019-04-03 17:00] #608 closed

[2019-04-04 07:50] acceph commented on #774
The notebook's file I have trying to run can be found [here](https://github.com/acceph/NSEM3D)
I would like to thanks for any advices or corrections to solve this problems..

[2019-04-04 11:54] jc-barreto commented on #775
Thank you @lheagy  ! now that I understood, I could run a test with a nice result (https://github.com/jc-barreto/SimPEG_Tests_Jenny) =D
I'm improving the notebook, to be readable for people like me, that has no knowledge with SimPEG and just a little with geophysical methods. So, I have some questions that I also would like to put the answers in the notebook, if you could help me...
-The data we l

[2019-04-05 03:45] grosenkj commented on #774
Hi @acceph

Thanks for your interest and dedication in using the SimPEG NSEM code.

Thanks for sharing your notebook. For your specific problem, the issue is that the size of your matrices don't match up. After looking at your code, I think the problem comes from how you construct yoru initail model, `m_0`. You make it with
[code]
so that it only has air values. Combined with the `Map` will make t

[2019-04-06 11:10] #775 closed

[2019-04-06 14:43] acceph commented on #774
Hello @grosenkj

Thank you for your kindly attention to help me.
Would you mind giving me another clues?

[2019-04-20 19:44] bernard-giroux opened #777 "AttributeError: module 'discretize' has no attribute 'BaseMesh'"
I installed SimPEG via pip on a macOS machine running anaconda python 3.7.

I run into this error when I try to run the 1D TDEM inversion example (plot_inversion_1D.py)

[code]

[2019-04-21 17:06] lheagy commented on #777
Hi @bernard-giroux - thanks for pointing this out. We made an update in discretize and are working in #776 to get SimPEG updated. In the mean-time, if you roll-back your version of discretize to
`discretize == 0.3.11` (e.g. `pip install discretize==0.3.11` then it should resolve this issue.

[2019-04-21 19:11] bernard-giroux commented on #777
Hi,  got it working, thanks!

[2019-04-21 19:11] #777 closed

[2019-04-28 18:51] ROSHIV opened #778 "create mesh based one the data center"

[2019-04-28 18:52] #778 closed

[2019-04-28 19:12] ROSHIV opened #779 "create mesh in separate file and read in script"
Hello,
1. I need to create  mesh and put the center of mesh as center of data coordinate. but I want to create in separate file and read the mesh file in the script and do not know how?
this is what I put in script but need to create in separate file and read in script. 2. I have a question about last line I subtracted the origin of data but do not know if it is correct or not, is it needed to sub

[2019-04-28 19:44] fourndo commented on #779
Hi @ROSHIV ,

Few options for:

1- You probably want to shift the origin of the mesh instead of shifting your data.
`mesh.x0 = mesh.x0 + np.r_[dx, dy, dz]`
Since you have create the mesh `CCC`, you probably just need to shift it by the coordinates of the center of your survey.

2- You can [export the mesh in UBC format](http://discretize.simpeg.xyz/en/master/api/generated/discretize.MeshIO.TensorM

[2019-04-28 20:12] ROSHIV commented on #779
Thanks for your reply, but I do not shift origin of mesh, I want to shift data, put the coordinate of the center to be as the origin of the mesh. and create mesh with the center origin.

[2019-05-13 17:10] lheagy commented on #202
In relation to the simulation refactor broadly outlined in #562, I have been playing with ideas for re-factoring the data class.

## Constraints
The data class should keep track of:
- the observed data `dobs`,
- the percent error `standard_deviation`
- and a floor `noise_floor`.

it should also
- know how to compute the `uncertainty` based on the standard deviation and noise floor
- be able to set

[2019-05-14 05:04] rowanc1 commented on #202
Thanks for the writeup @lheagy, very clear. Also thanks for the discussion in the Python channel in https://slack.simpeg.com with @fwkoch - always really interesting to see what magic we _could_ do.

However, I really like the reduction of magic in this proposed implementation. I think the extra line that the user has to type ends up making the whole piece a lot more transparent.

Probably there w

[2019-05-14 17:50] micmitch commented on #202
Agreed. Changes proposed in this sketch sound good to me!

[2019-05-18 09:47] acceph commented on #774
hi all..
I would like to close this issue, the inversion is running very smoothly without any error now.. I was made mistake before, grosenkj was right..

[2019-05-18 09:47] #774 closed

[2019-05-27 22:30] sarahgarre opened #782 "Colorbar functionality mesh.plotImage not working for OcTree mesh"
Hi, I have to change the default colorbar used by mesh.plotImage to prevent images from being counterintuitive for my application. However, the cb='colorbar_name' option does not seem to have any effect. Is this a bug or am I doing something wrong?

`out = my_mesh.plotImage(sigma_wrong,clim=[0,6],ax=ax1,cb='jet') `

[2019-05-27 23:23] sarahgarre commented on #782
@fourndo I think you already identified the problem, no? The TreeMesh plotImage function does not have the dictionary for colorOpts. Is it possible to fix this somewhere soon?

[2019-05-28 03:08] lheagy commented on #782
Thanks for raising this @sarahgarre! This is an `discretize` specific issue, so I will transfer it over there

[2019-05-28 03:35] lheagy opened #783 "bug in MagDipole source construction with problem3D_h and variable mu"
Right now, if you solve problem_h with variable magnetic permeability, the result will be `nan`s because we are dividing by zero! (never a good idea...)

Rather than computing from bPrimary for both problems b, h, we should deal with `bPrimary` for problem b and hPrimary for problem h.

https://github.com/simpeg/simpeg/blob/1f4220e55c6695e729343ce228065a72b2f9f70a/SimPEG/EM/FDEM/SrcFDEM.py#L408-L4

[2019-05-28 04:13] lheagy commented on #782
moved to simpeg/discretize#173

[2019-05-28 04:13] #782 closed

[2019-06-17 17:14] lheagy commented on #202
I have a first pass implementation here: https://github.com/simpeg/simpeg/pull/786/files#diff-355ed1cae865dcda48f9c49eb8406160

[2019-06-17 20:49] sarahgarre opened #787 "Plotting integrated sensitivity for DC resistivity problem."
Hi all,
I noticed that for the 2D DC resistivity problem, there is no attribute `prob.getJtJdiag(m)`, which makes it hard to visualize the integrated sensitivity. Would it be possible to implement this?

[2019-06-18 20:25] JKutt commented on #787
Hi Sarah,
I coded this up for the 3D DC problem awhile back on a local server machine and but did not bring it to the repository. There was talk that there may be an implementation on one of EM branches. I could also grab the code I used and you could test it for 2D? Perhaps then start a PR for it?

[2019-06-18 20:43] micmitch commented on #787
I have also done this for the 3D problem. Happy to try to resurrect a script if that would be useful.

[2019-06-19 00:42] lheagy commented on #202
The implementation I have currently working on the `simulation` branch still keeps the functionality of treating the data object like an array that can be indexed by source receiver, but also stores the data as a vector `dobs` so that it is a bit more transparent. As I was looking through the code that runs simulations, being able to assign and sort data by source receiver is pretty core functiona

[2019-06-22 08:21] ROSHIV opened #789 "gravity inversion"
Hello,
I am really new to simpeg, and need help in garvity inversion. I wrote the code but does not work, I appreciate if anybody here can help me to fix it.

Regards

[2019-06-25 17:14] prisae commented on #765
Looks like the possibility to view the API source-code got removed completely? (The `[source]`-button that shows the python-code.)

I always like that feature in the docs, will that be back? Otherwise this issue can be closed...

[2019-06-25 17:20] prisae commented on #764
https://discretize.readthedocs.io/en/stable and now http://discretize.simpeg.xyz/en/master do have the `objects.inv`, so just SimPEG is missing.

Is there something similar to the readthedocs `en/stable` to point to the latest stable release instead of master with the new discretize documentation?

[2019-06-25 17:34] lheagy commented on #764
Right now, master and the latest release of discretize should be in sync. Each time a new pr is merged, we create a new release. So for now having one should be sufficient. Did you have something else in mind @prisae?

As for SimPEG `objects.inv` thanks for the reminder. I will take another look at this. Eventually, I would prefer if we can move the SimPEG docs also onto github pages rather than g

[2019-06-25 17:38] prisae commented on #764
No, then it is fine. (I just wasn't sure if `master` is necessarily `stable`).

[2019-06-26 10:42] prisae commented on #741
I think there is a possibility to deliver a new `simpeg` package and at the same time a `SimPEG` package which will only print information about the name-change. The important bit would be the line
[code]
in `setup.py`. Then, `pip install simpeg` or `pip install SimPEG` (`pip` is case-insensitive, I believe) would install both packages, `simpeg` and `SimPEG`. The directory `SimPEG` would then only

[2019-06-26 15:53] lheagy commented on #741
Thanks for doing digging on this @prisae! If we can allow both imports, then I am all for bringing this in on #786

[2019-07-02 22:23] thast opened #793 "Montreal SimPEG meeting and Hackathon"
Many of the core SimPEG developers will be in Montreal for the IUGG meeting.
We plan to spend a day together to advance the development of SimPEG to a next stage.

This issue is to gather people ideas about the hottest topics to address in SimPEG and discuss the next orientations of the package that will be tackle during this meeting.

Topics and development ideas:

- The new SimPEG `Simulation` c

[2019-07-03 00:42] banesullivan commented on #793
I won't be in attendance but I could schedule aside some time to be available remotely! Specifically, the topic of developing more examples and tutorials sounds exciting to me - let me know if I can help with any 3D viz ideas in these examples to help communicate how awesome SimPEG is!

[2019-07-03 01:57] craigmillernz commented on #793
My schedule on the 17th is already very full sorry, I'm chairing a session and giving a talk, but I hope to catch up with y'all during the week at some stage.

[2019-07-03 07:02] prisae commented on #793
I won't be around but I'll follow closely and will be here for any help I could give. My main interest is the possibility to use other 'kernels' (forward modellers) within the whole SimPEG-framework. According to @lheagy , that is something which will be made much easier with the Simulation-refactor.

[2019-07-03 20:17] lheagy commented on #424
Locations will be properties in #786

[2019-07-03 20:17] lheagy commented on #582
This will be resolved with #786

[2019-07-03 20:18] lheagy commented on #494
Our dev cycle releases every time we merge to master, so I will close this for now.

[2019-07-03 20:18] #494 closed

[2019-07-03 20:21] lheagy commented on #465
right now, we are using "orientation" for `x`, `y`, `z` and still using `component` for `real` `imag`. I think this is working okay. Feel free to re-open if you would like to continue the discussion.

[2019-07-03 20:21] #465 closed

[2019-07-03 20:21] lheagy commented on #527
This will be resolved in #786

[2019-07-03 20:22] lheagy commented on #524
This will be resolved in #786

[2019-07-03 20:23] lheagy commented on #558
resolved in #657

[2019-07-03 20:23] #558 closed

[2019-07-03 20:33] lheagy commented on #716
closed with #724

[2019-07-03 20:33] #716 closed

[2019-07-03 20:54] lheagy opened #794 "Receivers in electromagnetics module"
Right now, we have a unique class for each receiver type in electromagnetics. The only thing that changes between them is the `projField` so it seems like a bit of overkill to have a separate class for `e`, `b`, `h`, `j`, etc.

https://github.com/simpeg/simpeg/blob/6ed81a98f9cfd46cc12737d4a5cfc54bc6bad30a/SimPEG/EM/FDEM/RxFDEM.py#L99-L110

What do folks think instead of having a single `Point` rec

[2019-07-04 06:09] prisae commented on #751
It is archived, but I still find it hilarious: https://github.com/kenneth-reitz/white
It is basically a wrapper for `$ black --line-length 79`

[2019-07-04 16:06] lheagy commented on #794
Related, do we want to have `eval`, `evalDeriv` or should we go more to what the objective function API is looking like
- `eval` --> `__call__` e.g. so that you can do `rx(source, mesh, fields)`. On each class, the `__call__` could ask an `_eval` what to do so that we are always implementing an `_eval` method on classes that inherit the base receiver
- `evalDeriv` --> `deriv`

[2019-07-05 21:49] lheagy commented on #671
It seems this has been resolved by @sgkang and @micmitch. Feel free to reopen if there are still lingering issues here.

[2019-07-05 21:49] #671 closed

[2019-07-09 21:32] fourndo commented on #793
Re-factor PF

[2019-07-09 22:01] lheagy commented on #202
We should look into using xarray for the data (rather than our own source / receiver indexing dictionary)

[2019-07-09 22:43] lheagy commented on #793
From today's [SimPEG meeting](https://docs.google.com/document/d/1kQ1ZF1IgO3O4YcrTYHSL6gSfCW9drwgOHEzF2R_Hh6M/edit#heading=h.ble67qzidgte), the main items that came up to discuss are:
- The structure of the [data class](https://github.com/simpeg/simpeg/issues/202)
- Examples of parallelization
    - one simulation, many models
    - domain decomposition
- [receiver classes]()
- OcTree mesh wishlis

[2019-07-14 18:44] thast commented on #793
Proposed high-level theme of the day: (towards) `SimPEG 1.0.0`

[2019-07-16 16:08] sgkang commented on #793
## Thoughts on expanding SimPEG to handle large-scale EM problems

Three main applications that could make some impact to our community might be: MT, AEM, and CSEM. Having that in mind, I think three fundamental items that we need to develop to expand SimPEG's capability to handle large scale EM problems are:

1. Interpolation (between meshes)
2. Deciding what to store or not (e.g. sensitivity, fi

[2019-07-17 16:25] thast commented on #793
Whiteboard of the morning:

![2019-07-17 11 55 16](https://user-images.githubusercontent.com/13682747/61392876-b81b9980-a874-11e9-9982-4b7a9047ab1d.jpg)
![2019-07-17 11 55 10](https://user-images.githubusercontent.com/13682747/61392877-b81b9980-a874-11e9-9be5-551b65de6416.jpg)
![2019-07-17 11 36 43](https://user-images.githubusercontent.com/13682747/61392879-b81b9980-a874-11e9-95dd-b2aac6001cc9.jp

[2019-07-17 18:14] thast commented on #793
Before starting the afternoon:
![2019-07-17 13 48 16](https://user-images.githubusercontent.com/13682747/61399938-0dab7280-a884-11e9-8415-75be8ae653a6.jpg)
![2019-07-17 13 48 08](https://user-images.githubusercontent.com/13682747/61399940-0dab7280-a884-11e9-939b-40c01779668b.jpg)
![2019-07-17 13 48 02](https://user-images.githubusercontent.com/13682747/61399941-0dab7280-a884-11e9-93c0-b7e216c6f2f2

[2019-07-17 18:34] thast commented on #793
Tiles and paralleization PF:
![2019-07-17 14 32 56](https://user-images.githubusercontent.com/13682747/61401680-d1c5dc80-a886-11e9-9015-305fd6475d5d.jpg)

[2019-07-17 20:04] lheagy opened #796 "citing / acknowledging"
we should do this: https://www.astropy.org/acknowledging.html

[2019-07-17 20:25] thast commented on #793
`simpeg 1.0` and ToDos:
![2019-07-17 16 24 14](https://user-images.githubusercontent.com/13682747/61409100-5bc97180-a896-11e9-9c7c-7d761304b77c.jpg)
![2019-07-17 16 06 08](https://user-images.githubusercontent.com/13682747/61409101-5bc97180-a896-11e9-93df-819ed3d4ac50.jpg)

[2019-07-18 18:48] rowanc1 commented on #793
Thanks for keeping notes!

[2019-07-21 02:16] kimjaed opened #797 "Joint Inversions in SimPEG"
Hello,
My name is Jae Deok Kim and I am a Master's student working on Joint Inversions with Dr. Jiajia Sun at the University of Houston.

As far as I know, the joint inversions in SimPEG are inverting for different physical properties (e.g. electrical conductivity and volume) using a single dataset (https://docs.simpeg.xyz/content/examples/11-seis/seis_tomo_joint_with_volume.html).
We would like t

[2019-07-21 16:11] fourndo commented on #797
Well, first of all, this is an epic issue @kimjaed  Prof. @jiajiasun must be stocked to have you as a Master student.

Looks like you have several interesting additions, and it will be easier for us all to bring it down in 1 PR per component (if possible). I'll take the first stab at this, but i am sure that @thast will have suggestions too when he gets back from vacation. You guys are working on

[2019-07-21 16:14] fourndo commented on #797
All the Gauss-Newton math looks right, but under the hood, we never form these large systems. We just do matrix-vector products and add vectors at the end.

[2019-07-21 16:19] fourndo commented on #797
I am pretty excited about the ```Coupling``` part.  It has been on my radar for a while to test.

Sounds like you would like to create a new sub-class of Regularization, and you will need a directive to go along with it to update the model. This can be brought in on a single PR with a small example. I can help you with writing a small test that will just check for consistency of results.

[2019-07-21 16:20] fourndo commented on #797
For the ```Directives```, we will have to see the functions. Again @thast will want to comment i m sure.

[2019-07-21 16:21] fourndo commented on #797
Will have to take a look, but I think the ```JointInversion``` might be redundant once you get the ComboObjectiveFunctions``` working?

[2019-07-21 16:28] fourndo commented on #797
![image](https://user-images.githubusercontent.com/2406426/61593828-6f781f00-ab99-11e9-96e5-c23350d53f31.png)

I agree this is a great criterion to stop. The ```Optimization``` class needs some love and could hold it. At this point i would suggest you add this check to your JointInversion directive, and stop the inversion once you have reached it. In the directive you can use:
```self.opt.stopNext

[2019-07-21 16:31] fourndo commented on #789
@ROSHIV can you provide more details?

[2019-07-21 23:40] lheagy commented on #797
Welcome to the SimPEG community @kimjaed! It looks like you have been busy 🚀

Would you be able to join us at the SimPEG meeting this week or next and give us an overview of your work? We hold the meetings every Tuesday at 2pm PDT: http://bit.ly/SimPEG2019. If that doesn't work with your schedule, just let us know and we can reschedule for one week.

With all of the work you have done, a high-band

[2019-07-22 04:15] kimjaed commented on #797
I sure can! I'll be joining and preparing some material to make it a bit clearer on what exactly I'm trying to achieve.

[2019-07-22 14:49] lheagy commented on #797
Excellent @kimjaed! I look forward to seeing you tomorrow. The meetings are quite conversational: demos / walk throughs of notebooks or code are encouraged 😄

[2019-07-22 14:54] kimjaed commented on #797
@fourndo I've actually looked into the `ComboObjectiveFunction`. The problem that I see is that if,
[code]
and I compute `comboMisfit.deriv(m)`, `phi_d1.deriv(m)` and `phi_d2.deriv(m)` will return Dimension mismatch, since the individual data misfits don't depend on the concatenated array `m = np.r_[m1, m2]`.
If I instead compute  `comboMisfit.deriv(m1)`, I would be computing `phi_d1.deriv(m1) + p

[2019-07-22 15:21] jcapriot commented on #797
This is where SimPEG’s `Mapping` would come into play!

[2019-07-22 15:39] fourndo commented on #797
@kimjaed

Yep, @jcapriot is right. The mapping you need is called a **Wire** map.

See the[ example here on how to use it](https://docs.simpeg.xyz/content/examples/05-mag/plot_MVI_Sparse_TreeMesh.html#inversion):
This is for the regularization term of the MVI (3-components), but you will get the idea. It just knows where to insert/grab model parameters in your stacked vector,

[2019-07-22 22:28] craigmillernz opened #798 "User survey for refactoring, simpeg1.0"
As part of the refactor for simpeg1.0.0 it would be useful to survey users for their input, to help guide the refactoring and provide a broader perspective than the code developers.  The aim is to reduce the overhead required to get into the code base, and to improve uniformity of the code between methods (PF, EM etc).

Users might be divided into two groups,1) academic practioners interested in d

[2019-07-23 20:45] lheagy commented on #797
@kimjaed: for the meeting, here are the notes and the link to the zoom chat. I look forward to connecting!
- notes: http://bit.ly/SimPEG2019
- video chat: https://lbnl.zoom.us/j/9282619319

[2019-07-23 22:11] kimjaed commented on #797
Something that I forgot to ask, or maybe it wasn't clear to me.
[code]
Computing `comboMisfit(m)` gives me `phi_d1(m) + phi_d2(m)', but I want to know these values separately. How can I access these values separately?

[2019-07-23 22:19] fourndo commented on #797
You got it.
Or I usually just loop
`for misfit in comboMisfit.objfcts:`
    `misfit(modelFull)`

[2019-07-29 15:16] kimjaed commented on #797
So I've been able to cut down my modifications to only a new `coupling` class and a set of new `directives`. I'm ready to start a PR and let you guys review my code.

[2019-07-29 15:39] lheagy commented on #797
Nice work @kimjaed! I have started pr #799 to break up the regularization into multiple files. @fourndo is willing to do a review and then we can merge that in and you can work from there. If you are comfortable working off of a branch, you can branch off of `regularization-organization` from the main SimPEG repository and add your changes from there. Otherwise, we should be able to get this in wi

[2019-07-30 04:48] lheagy commented on #797
@kimjaed: we merged #799 and released SimPEG [0.11.6](https://github.com/simpeg/simpeg/releases/tag/0.11.6), so at this point, feel free to branch directly off of master and start a pr. You should have received an invite to the SimPEG organization on github, so you can do all of this directly in the SimPEG org. Please let me know if you didn't receive the invite and I can re-send it. If you run in

[2019-08-07 15:55] lheagy opened #801 "Name of high-level API in SimPEG"
At the meeting in Montreal #793 , we discussed consolidating wrappers / drivers / io that acts as a high-level API on SimPEG to streamline setting up and running simulations and inversions in SimPEG. What should be call it?

## Suggestions from slack
@darkmaterials:

MarkG:

@lheagy:

@prisae:

@fourndo:

[2019-08-07 17:04] prisae commented on #801
Die ersten Ideen stammten von @jcapriot:

und @craigmillernz

[2019-08-07 18:43] craigmillernz commented on #801
Guide

[2019-08-07 23:45] rowanc1 commented on #801
`wizard` from `SimPEG.wizard import gravity`? Call out to a gui step through process ... could actually render it in a jupyter notebook as a form. Also says something about magical choices being made -- and the docs saying, you can get rid of the canned magic and do it yourself -- or something more witty.

[2019-08-07 23:46] rowanc1 commented on #796
Should this be on the website or simpeg docs or both?

[2019-08-09 00:25] craigmillernz commented on #787
I'd also be interested to be able to do this for 2D and 3D DC.

[2019-08-09 18:19] sgkang opened #803 "`from SimPEG.Regularization import BaseRegularization` gives an error"
[code]

Had to use

`from SimPEG.regularization import BaseRegularization`

Any idea @lheagy ?

[2019-08-09 19:23] lheagy commented on #803
Hi @sgkang: yes, we broke up the `Regularization.py` into multiple files in a `regularization` module in [0.11.6](https://github.com/simpeg/simpeg/releases/tag/0.11.6). You can still `import Regularization`, but if you would like to import the base classes, you now need to do `from SimPEG.regularization import BaseRegularization`

[2019-08-09 19:31] lheagy commented on #796
both?

[2019-08-09 19:49] sgkang commented on #803
Ah, so it is supposed to then no problem.

[2019-08-09 21:08] #803 closed

[2019-08-12 21:11] craigmillernz opened #804 "bug in survey.drapeTopo 0.12.0"
In version 0.12.0 I get the following error when apply survey.drapeTopo.  This works in 0.11.6 so appears to have been introduced in the latest.

`dc_survey.drapeTopo(mesh, actind, option="top", topography=topo)`

Traceback (most recent call last):
  File "<ipython-input-12-3115a6134400>", line 1, in <module>
    dc_survey.drapeTopo(mesh, actind, option="top", topography=topo)
  File "D:\Dropbox\G

[2019-08-26 23:11] JKutt opened #805 "Error when using a Tree mesh for MT inversion"
Hi all, I've run into a problem when attempting to use a Tree-mesh for MT inversion. It fails looking for the 'r' method that I assume tensor meshes use. Is there a different method that should be used for tree meshes or should I make a similar re-shape method for the tree-mesh? The following is the error that is output:

c:\programdata\anaconda3\lib\site-packages\SimPEG\EM\NSEM\SrcNSEM.py in ePri

[2019-08-29 18:20] JKutt commented on #805
Thanks for the response @jcapriot . I'm not very familiar about how to go about coming up with function for this, but with some guidance I am more than willing to take a stab at this. I will also dig around and see if I can spot other places this assumption is made. Thanks again!

[2019-09-11 18:18] lheagy commented on #804
@sgkang: would you mind taking a look at this?

[2019-09-11 18:26] lheagy opened #812 "vrm examples failing on matplotlib 3.1.1"
The vrm examples currently fail on matplotlib 3.1.1. So we removed them in #807 and have started a pull request to add them back.

[code]

[2019-09-11 18:32] lheagy opened #814 "MT1D example failing on numpy 1.17.1"
The MT1D inversion example fails on numpy 1.17.1, so we removed it in #807. I will start a working pr to bring it back.

The MT1D inversion example is failing
[code]

[2019-09-13 19:04] dccowan commented on #812
I'll take a look at that today and hopefully fix the issue. Thanks for flagging this.

[2019-09-13 21:15] lheagy opened #816 "add conda installation instructions"
we should add the instructions for installing SimPEG through `conda` https://anaconda.org/conda-forge/simpeg
- [ ] in the docs
- [ ] in the README

[2019-11-07 00:02] dccowan opened #821 "SimPEG class structure for utils"
The class structure for simulation classes and inversion classes has been fairly well established but we need to organise utilities. We need to agree on
- what are the types of utilities we have
- what is the ideal class structure

**What is the purpose of the utils class?**
Useful functionality for setting up the components needed to run simulations. These are general or simulation specific funct

[2019-11-08 02:36] kujaku11 opened #822 "GUI for manipulating 3d models"
Have any of you built any GUI tools for manipulating 3D models? I've got a team of potential fielders that are nervous about using code that isn't GUI based.   We are interested in testing different complicated structures but haven't found an efficient way to do that in SimPEG, yet.

I've built something similar for manipulating ModEM resistivity models in Qt5 that works relatively well.  Its in h

[2019-11-08 03:44] domfournier commented on #822
@kujaku11 Looks like you already have a pretty advanced tool right there!
This is definitely lacking on our side. I personally always had access to Gocad to do the hard work. I know that others have started to look at [pyvista](https://pypi.org/project/pyvista/)  and [gempy](https://github.com/cgre-aachen/gempy) to do modelling.

It would probably be easier at this point to just reformat the model

[2019-11-08 18:38] Geonigel3 commented on #822
Meshtools3D for Tensor and OcTree models

https://gif.eos.ubc.ca/software/utility_programs#3DmodelsMeshes

Not in python.

[2019-11-08 18:43] domfournier commented on #822
ah true, thanks for the reminder @Geonigel3 . Good old Meshtools #RomanView ;)

[2019-11-11 08:38] ASmelov opened #823 "Direct magnetic problem problem"
Hi everyone! First of all, the SimPeg project looks amazing, thanks a lot for it! I had difficulties in solving the direct magnetic problem. As a basis, I chose the example presented here (http://docs.simpeg.xyz/content/examples/05-mag/plot_mag_inversion_linear.html#sphx-glr-content-examples-05-mag-plot-mag-inversion-linear-py). I began to gradually complicate the initial model of magnetic suscept

[2019-11-11 16:14] domfournier commented on #823
This looks like amazing work @Artem Smelov!

Two things to look out for:

1) for bulk physical property model like these you need to make sure your domain extends much further beyond the extent of your data
By the shape of the anomaly, I suspect that right now you are mostly seeing the edge of the model

2) grav and mag are weakly sensitive to vertical contrasts. For instance, you could probably r

[2019-11-11 16:23] domfournier commented on #823
[From Slack]
Increasing the domain size outside of the core can be done pretty efficiently with `padding cells`.
The rule of thumb is to have padding cells on either side that extend out to a distance half the width of your survey area. For tensor mesh, you can use an[ expansion factor](http://discretize.simpeg.xyz/en/master/tutorials/mesh_generation/2_tensor_mesh.html?highlight=expansion#padding-

[2019-11-16 12:36] kashkoulimohammad opened #826 "Error in install SimPEG on Ubuntu 18.04"
Dear all,

I am trying to install SimPEG on Ubuntu 18.04  but I get these errors:
[code]

[2019-11-16 12:45] kashkoulimohammad commented on #826
I installed with pip package and my problems solved.

[2019-11-16 12:45] #826 closed

[2019-11-20 18:05] jc-barreto opened #827 "Adding a target in cylindrical mesh"
Hello,

I'm trying to put a target in the cylindrical mesh, but I'm getting an error:
`layerz = np.r_[-20., -10.]`
`layerx = np.r_[5., 10.]`
`target= (mesh.vectorCCz >= layerz[0] & mesh.vectorCCz <= layerz[1] & mesh.vectorCCx >= layerx[0] & mesh.vectorCCx <= layerx[1])`

ufunc 'bitwise_and' not supported for the input types, and the inputs could not be safely coerced to any supported types accordi

[2019-11-26 09:28] kashkoulimohammad commented on #774
Dear @acceph ,
May I use your code?

Sincerely,
Mohammad

[2019-11-29 00:41] craigmillernz opened #830 "bug in save inversion log with DASK"
When running an inversion that uses dask for parallelization there is a bug when `Directives.SaveOutputEveryIteration(save_txt=True)` is used.

This is beacuse 'phi' is now a dask delayed object.

Refer to discusion on slack #general channel from 11th October 2019.

[2019-12-06 09:12] yezhengkai opened #832 "bug in Utils.surface2ind_topo"
When I followed the practice of [plot_dipoledipole_2_5Dinversion.py](https://github.com/simpeg/simpeg/blob/master/examples/06-dc/plot_dipoledipole_2_5Dinversion.py) and delved into the function surface2ind_topo, I found that these parts of the function surface2ind_topo may be incorrect.

https://github.com/simpeg/simpeg/blob/41b2ada51de8c2e4e7a9e8509a981d2d23561a99/SimPEG/Utils/modelutils.py#L31-L

[2019-12-06 18:59] thast commented on #832
Thanks for sharing @yezhengkai ! That looks suspicious indeed. I'll have a look.

[2019-12-09 22:53] IMirzalizade opened #834 "Inversion parameters"
Hello,
I came across this project when I was looking for a tool for modeling magnetic fields. I am just starting to get acquainted with this area, and I had questions regarding the solution of the inverse problem. Could you briefly describe the meaning of the inversion parameters, for what they are responsible and to what extent vary?
reg.norms = np.c_[0, 0, 0, 0]
maxIter=100,
lower=0.,
upper=1.,

[2019-12-09 23:02] domfournier commented on #834
Hi @IMirzalizade, glad you found us.

So these parameters belong to different objects, so they obviously have very different meanings.
All very good questions though.

`reg.norms`:  Used by `Regularization.Sparse` to approximate norms applied to measures of the model values and its spatial gradients along the cartesian axes [p_s, p_x, p_y, p_z]
Checkout `here<https://docs.simpeg.xyz/content/api_co

[2019-12-09 23:05] #832 closed

[2019-12-18 16:20] #827 closed

[2020-01-09 03:19] dccowan opened #837 "Make static tests for Travis pass."
The current Travis tests for statics fails. Make sure all pass.

[2020-01-13 19:30] lheagy opened #838 "GWB laundry list"
As @dougoldenburg and I started working through the [GWB notebooks](https://github.com/simpeg-research/gwb-dc-inversions), there were a couple of items that came up. We can use this as a running list. @jcapriot: please feel free to add to this as you work through things with Doug today.

- [ ] serializing and deserializing the survey class. Currently, we the deserialization of a DC survey fails. W

[2020-01-14 23:51] JKutt commented on #837
I'm getting close on this. Just got the IP side of the tests left. Will keep you updated.

[2020-01-15 19:03] lheagy commented on #838
I have updated the `Data` class with tests on the `simulation` branch. We will need to propagate this to the `simulation-jk` and `simulation-pf` branches

[2020-01-15 19:16] jcapriot commented on #838
I'll get them merged in, there doesn't seem to be many issues with this

[2020-01-17 18:31] sgkang commented on #838
For this comment from @dccowan :

- [ ] when doing a 2D simulation, you are able to define the Pole_ky and Dipole_ky to measure apparent resistivity and apparent conductivity. However, the forward simulation fails when calling the geometric factor for these receivers because it is not defined. This should be fixed.

In the current 2D simulation structure, you need to input geometric factor into si

[2020-01-17 18:36] thast opened #839 "Master Travis failed"
While updating the version (commit https://github.com/simpeg/simpeg/commit/6ca23f751de1bdc679d906c889fdad305fe1b592), which should not have changed anything, Travis failed on master :(

Seems there might be a couple of things happening (see the 3 screenshots below). Any ideas?

![image](https://user-images.githubusercontent.com/13682747/72636962-16553200-3915-11ea-81e3-a4882e1f4887.png)

![image](

[2020-01-18 18:28] lheagy commented on #839
Thanks @thast, we can do some digging. The test of the Tikhonov regularization should be fine (it should register as a pass, even if it is first order, as we expect that the second-derivative should be first-order convergent - it is basically the derivative of `A*x`)

[2020-01-18 18:31] jcapriot commented on #839
The second error is a true division vs flooring division, so nC/2 should probably be nC//2.

[2020-01-18 19:00] thast commented on #838
Can we have a discussion/vote at a next SimPEG meeting about the " remove the factor of 1/2 from the data misfit and regularization "? I did not have the impression it was already decided / reached a consensus... or is it just me?

[2020-01-18 19:07] lheagy commented on #838
@thast: For sure, sorry my wording made it sound like a decision, which was not my intent - we should definitely talk through this at the next meeting

[2020-01-22 16:28] #839 closed

[2020-02-03 16:53] domfournier opened #842 "Static drape topo not on surface."
I am encountering issues with the `static.utils.drapeTopotoLoc` on `Tree` mesh where few of the points end up either in the air or below ground.

![image](https://user-images.githubusercontent.com/55204635/73672854-7d3b5080-4662-11ea-9151-5d990fdba9ef.png)

Need to review the function.

[2020-02-12 23:49] jcapriot opened #846 "Standard deviation and it's place in the code base"
I brought this up at a previous meeting and would appreciate input from more people as well. Essentially the issue is that most place in the codebase that refer to things as standard deviation (for example in the Data Class) it is not actually standard deviation. It is more akin to the coefficient of variation.

The Problem
------------
For example in https://github.com/simpeg/simpeg/blob/1548d788

[2020-02-13 00:34] jcapriot opened #847 "Renaming of methods' Problems"
In the next release of SimPEG we are renaming many of the base properties to be more in line with pythonic conventions, pep8, etc., and we are also refactoring to get rid of SimPEG's `Problem` and replacing it with `Simulation` (which moves the forward operations from a `Survey` object that has been paired with a `Problem` to just a `Simulation`). As part of this, I'd also like to update the names

[2020-02-13 00:41] jcapriot commented on #847
A small note, is that I believe the "D" in "3D", according to the pep8 styles as it specifically says acronyms should all be capitalized, i.e. HTTP and not Http

[2020-02-13 03:57] leonfoks commented on #846
2 cents.
In geobipy that percentage multiplier is referred to as “relative”,  and noise_floor is “additive”.  The standard deviation is sqrt(relative^2 + additive^2)

[2020-02-13 04:39] micmitch commented on #846
percent_error seems like a pretty logical choice to me.

[2020-02-13 17:11] jcapriot commented on #846
@leonfoks That's interesting, what was the reasoning behind combining them that way?
@micmitch `percent_error` seems logical, but it also raises a bit of confusion on its own, do we expect the number coming in to actually be a percentage? ie 10, or a decimal .1? This could be documented, but just trying to keep it clear.

[2020-02-17 10:37] prisae commented on #741
I just remembered about this issue. As far as I can see, https://github.com/simpeg/simpeg/pull/786 will break almost all code and require some adjustments in most scripts, right? Wouldn't that be a good place to rethink the `SimPEG`/`simpeg` import? Along the lines of now or never... ;-)

Re-reading the discussing above actually points towards that as well.

@lheagy , @jcapriot

[2020-02-17 17:26] micmitch commented on #846
The way its implemented in the methods I have used its a percentage in decimal form. Always good to have these things clearly documented.

[2020-02-20 15:51] jcapriot commented on #846
My preferences would be either for `relative_error` or `noise_ratio`. They both seem to be a little clearer from their names.

[2020-02-20 16:00] domfournier commented on #846
I vote for `percent_error` too, and just document it and/or throw a warning if we detect all values >>1. I think it's more along with the notation that Doug et al. have been using, and sort of implies a multiplication.

[2020-02-20 19:45] craigmillernz commented on #847
`MagneticIntegral → Simulation3DInt or Simulation3DIntegral or IntegralSimulation3D`

This needs the word mag in it surely?
`Simulation3DMagInt` or `Simulation3DMag`

is the word Int necessary?  Is there a Diff method we need to distinguish it from?

Same for gravity
`Simulation3DGrav`

[2020-02-20 20:11] jcapriot commented on #847
I don't believe the method needs to be in the name, because it is already part of the path to that class. (`gravity.Simulation3D`, `magnetics.Simulation3D`, etc.)

[2020-02-21 02:27] craigmillernz commented on #847
oh I see good point regarding the path to that class. That simplifies things for sure.

[2020-02-26 18:59] jedman opened #850 "Can't set a waveform on initialized BaseTDEMSrc object"
I’d like to be able to set the waveform after the TDEMSrc object is initialized, but that doesn’t seem possible at the moment:

As an example, I would expect to be able to do something like this:
[code]
but this raises an AttributeError due to the call to the non-existent method here https://github.com/simpeg/simpeg/blob/2cb11643517881f683cdc33a67f9d28223392609/SimPEG/EM/TDEM/SrcTDEM.py#L245

[cod

[2020-02-26 20:57] lheagy commented on #847
Thanks for getting this going @jcapriot! I agree with the general naming convention of  `Simulation(Dimension)(ShortDescription)`. This keeps the names grouped together when tab-completing, and stays fairly compact.

So my vote is with the pattern

1. `Problem3D_E` &rarr; `Simulation3DE`

2. `Problem3D_B` &rarr; `Simulation3DB`

3. `Problem3D_j` &rarr; `Simulation3DJ`

4. `Problem3D_CC` &rarr; `Si

[2020-02-26 21:00] lheagy commented on #846
Interesting point @domfournier - I could see this working. Remove the distinction at the deep level of the code and perhaps relegate this to a higher-level API? I would be curious to hear other thoughts on this - maybe one for the meeting today

[2020-02-26 23:26] thast commented on #846
I like `relative_error`. I can also propose  `relative_noise` to do the parallel with `noise_floor`.

[2020-02-27 18:36] jcapriot commented on #847
Just to keep this updated, we had a nice discussion on this at the last SimPEG meeting (Feb. 26th, 2020) and decided on a general format of Simulation(Dimension)(LongDescription).

With two major thoughts, the first being that a longer description allows an unfamiliar user to better understand what it is.
The second, that you can always do something in your own code such as
`from SimPEG.electromag

[2020-02-29 20:55] jcapriot opened #852 "JTvec speedups"
This issue is mostly to document something that should be done, so it is not lost.

Most of the `JTvec` operations have unnecessary and repetitive matrix solutions.
For example, https://github.com/simpeg/simpeg/blob/2cb11643517881f683cdc33a67f9d28223392609/SimPEG/EM/FDEM/ProblemFDEM.py#L154-L175

in Linear Algebra terms, it currently looks something like

<img width="275" alt="image" src="https://

[2020-03-04 00:21] JKutt commented on #852
Great call @jcapriot !, I'll grab this on the MT code side right away.

[2020-03-04 00:24] JKutt commented on #852
Oh wait... I guess if its applicable.

[2020-03-04 00:35] jcapriot commented on #852
This is mostly applicable when NOT storing J. It is applied in MT though, as we often have `real` and `imaginary` receivers for each `xx`, `xy`, etc. receiver. So potentially a 12x speedup if using all 6 receivers.

[2020-03-04 01:24] JKutt commented on #852
Right on, I will certainly take this avenue!

[2020-03-06 12:27] prisae commented on #765
:-D I just wanted to create an issue reporting that the source-links are not working. Turns out I reported that already a year ago.

So this issue still holds, the `[source]` links do not work for the entire SimPEG-documentation.

[2020-03-06 12:32] prisae commented on #414
Closing, as SimPEG is available through `conda-forge` since v0.12.0, and discretize since v0.4.10.

[2020-03-06 12:32] #414 closed

[2020-03-06 12:57] prisae commented on #765
It does work for discretize, so it must be somehow a setup-issue with the SimPEG docs.

[2020-03-10 22:41] #552 closed

[2020-03-18 17:04] #837 closed

[2020-03-23 17:58] JKutt opened #855 "Creating 2.5D IP survey using "from_dc_to_ip_survey" breaks - Pole Source"
https://github.com/simpeg/simpeg/blob/8e573083a7dda92edaba6fd3074d28b434f67f00/SimPEG/electromagnetics/static/induced_polarization/survey.py#L27

Ran into an issue while attempting to run 2.5D IP using simulation with pole source:
The line above should be `rxList_ip, src.location`. Same thing is seen using Problem class (master), should be `rxList_ip, src.loc` not `rxList_ip, src_ip.loc`

Should I

[2020-03-23 18:01] jcapriot commented on #855
I think the best course of action would be to just return a copy of the DC survey, as there isn't anything specific to IP.

[2020-03-23 18:04] jcapriot commented on #855
I'll get a patch to simulation to fix this up.

[2020-03-23 18:04] JKutt commented on #855
Cool, sounds good Joe!

[2020-03-24 17:01] #855 closed

[2020-04-04 15:13] lheagy commented on #733
👍 This would be great to get in shortly after the simulation refactor #786!

[2020-04-04 15:51] prisae commented on #733
I agree. Ping me afterwards if it is getting forgotten. It is something that will grow gradually. We just have to set it up for a few basic functions - Once it is in place it can grow over time, and should particularly so for new things added.

[2020-04-15 18:35] thast opened #856 "Accessing Fields for DC 2.5D"
In DC 2.5D, trying to access any other field than "Phi" raises the current error (btw, those other fields appear in the documentation and the 2.5Dcode, they are just not fully implemented yet):
![image](https://user-images.githubusercontent.com/13682747/79374558-40b28d80-7f0c-11ea-988c-c98975be9a44.png)

Side note:
Accessing the 'Phi' field is working. However, I have a question about its shape. S

[2020-04-15 19:20] jcapriot commented on #856
The issue here is that the 2D dc code's field is only meant to be used for simulation, meaning it contains the computed field for each (15 + 1) wavenumbers.
If you'd like to investigate the other components, it first needs to be converted into a normal field. This operation is provided by:

https://github.com/simpeg/simpeg/blob/2cb11643517881f683cdc33a67f9d28223392609/SimPEG/EM/Static/DC/ProblemDC

[2020-04-15 19:36] thast commented on #856
That seems to be working.

[2020-04-15 19:47] thast commented on #856
@sarahgarre maybe try it with your final visualization

[2020-04-16 18:18] thast commented on #856
@micmitch : Yes, I went back to those scripts. And they do exactly what I did: put Poles receivers everywhere and compute the E-field by hand.

[2020-04-17 05:00] prisae opened #857 "DOC: Broken link"
The link http://math.lanl.gov/~mac/papers/numerics/HS99B.pdf for **Hyman and Shashkov, 1999** is broken in https://docs.simpeg.xyz/content/api_core/api_FiniteVolume.html

An idea might be to give the full reference instead of a link.

[2020-04-17 05:28] prisae opened #858 "DOC: Reference system"
#857 made me realize that there is no dedicated **Reference**-section in the SimPEG-docs.

Example of a reference section (shameless plug): https://empymod.readthedocs.io/en/stable/references.html

I vaguely remember having talked once with @lheagy about how I handle references in empymod. But I think that was some years ago and I don't remember what we concluded. So I post it here to keep it on t

[2020-04-20 06:39] sarahgarre commented on #856
@thast I am sorry, but I am not following completely anymore. Do I have to replace this portion
`phipotential = dcsurvey.dpred(mtrue[actind_air20[i]])
efield = -meshList20[i].cellGrad * phipotential # Total field
efieldx = -meshList20[i].cellGradx * phipotential # X-direction
efieldy = -meshList20[i].cellGrady * phipotential # Y-direction

# ???
jfield = dcprob.MfRhoI * efield`

by what @jcapriot

[2020-04-20 21:07] thast commented on #856
@sarahgarre, yes, that's right:

[code]

[2020-04-23 17:29] prisae opened #859 "DOC: `Jtvec`; dimension of `v`"
In the docs it states that `Jtvec(m, v, f=None)` takes a vector `v` of dimension `(nP,)`. This is correct for `Jvec`, but not for `Jtvec`, which takes a vector `v` of the dimension of the data points.

`Jtvec` is naturally mentioned in many places. But the two obvious ones are:
- https://docs.simpeg.xyz/content/em/api_FDEM.html?highlight=jtvec#SimPEG.EM.FDEM.ProblemFDEM.BaseFDEMProblem.Jtvec
- htt

[2020-04-24 07:56] prisae opened #862 "FDEM: derivative test seems to ignore imag-real-flag"
I am trying to follow the derivative and adjoint tests in FDEM.

The `adjointTest` (in `simpeg/tests/em/fdem/inverse/adjoint/test_FDEM_adjointEB.py`) uses the `getFDEMProblem`. This function takes a `comp`-parameter, e.g. `exr` for x-directed electric field, real component.

However, inside `getFDEMProblem` the `r`-part is assigned to a `real_or_imag`-parameter, but is then ignored, and the `'imag

[2020-05-02 16:56] lheagy commented on #858
There is also the `sphinxcontrib-bibtex` plugin that we have used over in geosci: https://sphinxcontrib-bibtex.readthedocs.io/en/latest/

This might be nice, then we don't have to format the citations and can copy-paste from other bibliography files

[2020-05-02 16:58] lheagy commented on #858
@dccowan: I know you have been working hard on examples and tutorials, is this something that would make sense to include now with the simulation refactor #786? or as a separate PR later?

[2020-05-02 17:02] lheagy commented on #862
good catch - thanks!

[2020-05-02 17:27] lheagy commented on #789
I am going to close this since there hasn't been further discussion. Please feel free to reopen if you still have questions @ROSHIV

[2020-05-02 17:27] #789 closed

[2020-05-02 17:28] lheagy commented on #202
This will close with #786.

[2020-05-02 17:44] lheagy commented on #850
Hi @jedman, apologies for our delay in getting back to you! That is indeed a bug in our logic. I will start a small pr fix onto #786, so that this will be updated in the next release of SimPEG. In the meantime, if you define the waveform prior to the source and instantiate it with that waveform, then you should get the expected behaviour.

[2020-05-02 18:05] lheagy commented on #804
Does #843 resolve this? cc @domfournier

[2020-05-02 18:12] lheagy commented on #627
:wave: @dccowan: would you be willing to address this in your updates to the documentation for the simulation refactor in #786?

[2020-05-02 18:44] prisae commented on #858
Nice, didn't know about that. But the above reference is also just the copy from any *.bbl*-file that is created when you run LaTeX. However, using directly the bib-file is awesome! I'll definitely bookmark that.

[2020-05-03 00:14] jcapriot commented on #846
To me it looks like we've been converging on `relative_error` and `noise_floor` which I both think are perfectly reasonably and descriptive of their respective roles.

Thus I think it would be that

`noise_floor` -> `noise_floor`
`standard_deviation` -> `relative_error`
`uncertainty` -> `standard_deviation`

[2020-05-03 10:46] TobiasGlaubach opened #867 "Error when running example plot_analytic_mag_dipole_wholespace in Jupyter"
Hi,
first of all thanks for the amazing open source package and all the work you put into making and documenting it!

**Issue:**
when I try to run the example file mentioned in the title in jupyter I an error:

[Here ](https://colab.research.google.com/drive/118JSqx__l9d6n3x1FoV2-kLsY8bANla4) is the jupyter notebook I used on google colab.

Error message:
[code]

[2020-05-03 12:39] TobiasGlaubach commented on #867
Turns out I had a comma after the orientation parameter. using the proper  input parameters works like a charm. Sorry my bad :-(

My faulty version:

[code]

Proper functioning version:

[code]

[2020-05-03 12:39] #867 closed

[2020-05-03 15:25] lheagy commented on #867
Glad you got it sorted! 😄

[2020-05-04 20:27] dccowan commented on #856
I can think of a way to demonstrate this in a tutorial.

[2020-05-04 21:26] dccowan commented on #856
@thast @sgkang I believe I found the problem. I match a patch. See PR #868

[2020-05-05 03:56] dccowan commented on #856
This bug was fixed in pull request #868

[2020-05-06 17:56] jcapriot commented on #856
@dccowan I think the bug here is actually a lack of documentation. So I'd like to leave this open until there is either an example or tutorial on how to access and plot fields for the 2D code.

The bug you found in simulation was a separate thing though, so thanks for catching that!

[2020-05-07 06:55] lacorey14 opened #870 "AttributeError: type object 'discretize.utils.interputils_cython.array' has no attribute '__reduce_cython__'"
I updated SIMPEG from 0.9.X to the latest version, the codes that went well in the previous version triggers the same error (attached). I have rolled backmy version of discretize to 0.311, still doesn't work.

  File "<ipython-input-14-11645c7240c4>", line 1, in <module>
    runfile('C:/Users/aa/OneDrive/WorkSpc/SIMPEG/TDEM/run_LoopSource2D_forward.py', wdir='C:/Users/aa/OneDrive/WorkSpc/SIMPEG/TD

[2020-05-09 09:45] TobiasGlaubach opened #871 "Non major axis aligned orientations for (EM dipole) sources"
Hi,
thanks for all the work you put into making this awesome toolbox!
I haven't found any possibility to supply non major axis aligned orientations for (EM dipole) sources is something like this possible?

I saw, that the orientation is internally actually mapped to a three element vector.

If no possibly exists, is there a way of implementing this? If it's not too much work and you point me in th

[2020-05-09 17:46] thast commented on #871
Hi @TobiasGlaubach,

As far as I know, the easiest way right now for you is what you proposed last: rotate the domain and work with a local coordinates system so that your dipoles are aligned wit the cell edges. @fourndo or @dccowan might have experiences with rotating meshes.

I think there might be some tools in for interpolating non-aligned dipoles, but interpolation come with its own drawbacks

[2020-05-11 17:46] lheagy commented on #871
Hi @TobiasGlaubach, Thanks for your issue!

There is an implementation of an arbitrary dipole source as long as you are using a 3D mesh. You just need to input the `orientation` as a vector. I have attached an example here (both as a notebook and as a pdf). We do need to update this in the documentation, and if you would like to contribute an example to the docs we always welcome them! Please let

[2020-05-14 07:08] TobiasGlaubach commented on #871
Hi everyone,
Thanks for the reply!
@lheagy : Thanks for the example! Is there a way of defining arbitrarily oriented 3D Receivers as well?

[2020-05-14 17:44] jcapriot opened #873 "IODC updates for data class"
the IODC class should be updated to take advantage of the data class when reading in dc data from a UBC format, and from a csv format, instead of assigning the data, standard deviations, and topo to the survey class.

[2020-05-14 17:46] jcapriot commented on #873
this will also likely require some small updates for https://github.com/simpeg-research/gwb-dc-inversions.

[2020-05-15 15:37] lheagy commented on #871
We don't yet have arbitrary receivers plugged in. This would be a great contribution that we can sketch out! Right now, the simplest way to get arbitrary receivers would be to define the orientation and then sum the results from the x, y, z receivers with the appropriate weights.

[2020-05-20 00:39] lheagy opened #875 "Map names on the simulations"
Right now, we are using the pattern `mathematical_symbol` + `Map` throughout the codebase (e.g. `rhoMap` in EM, `chiMap` in Mag). What do folks think about updating those to instead describe the property

- `rhoMap` --> `resistivity_map`
- `sigmaMap` --> `conductivity_map`
- `chiMap` --> `susceptibility_map`
- `rhoMap` (grav) --> `density_map`

etc

[2020-05-20 18:29] prisae commented on #875
Just coming to mind. What instead with:
- `map_resistivity`
- `map_conductivity`
- `map_susceptibility`
- `map_density`

=> It might just be easier searchable, if you know there must be a map, but you're not sure what map... (for tab-completion)

[2020-05-20 18:50] prisae commented on #871
@TobiasGlaubach, a simple routine how you could get rotated receivers is the following (to what @lheagy refers):
[code]
where `x_resp`, `y_resp`, and `z_resp` are three SimPEG receivers in x, y, and z direction. The `azm` and `dip` in this case are defined like this
https://empymod.readthedocs.io/en/stable/_images/sphx_glr_coordinate_system_001.png
For other definitions you have to adjust the rota

[2020-05-20 20:06] lheagy commented on #875
:+1: Thanks @prisae - I quite like that. For example for an EM problem, that would also make it a bit more discoverable that you can invert for permeability too

[2020-05-21 06:28] TobiasGlaubach commented on #871
@prisae: Thank you! I think this will work as a starter for me.

@lheagy: Thanks for the answer! As I said I am happy to contribute to this. I looked into the code today and saw this implementation:

https://github.com/simpeg/simpeg/blob/37ddbd4d8e2be83570eb810d3e1185779685286a/SimPEG/EM/FDEM/RxFDEM.py#L49-L53

Which leads to:
https://github.com/simpeg/simpeg/blob/37ddbd4d8e2be83570eb810d3e1185779

[2020-05-21 09:57] TobiasGlaubach commented on #871
Actually. What is the definition for the `orientation` argument, if it is not a string? The dipole major axis alignment in 3D space?  This is not documented, or did I miss something?

[2020-05-22 04:57] #631 closed

[2020-05-22 15:20] #712 closed

[2020-05-22 15:24] #609 closed

[2020-05-22 15:45] #584 closed

[2020-05-22 15:46] #578 closed

[2020-05-22 15:52] #555 closed

[2020-05-22 15:52] #553 closed

[2020-05-22 15:54] #532 closed

[2020-05-25 21:20] lheagy opened #877 "DC - instantiating sources and receivers"
rather than `locationA` or `locationsM`, I would suggest that we use `a_location` and `m_locations` for instantiating sources and receivers. These also should be allowed to be None in the case that the user wants to input `locations` as a 2D array (which will happen when we deserialize a survey)

[2020-05-25 21:24] jcapriot commented on #877
I agree with this! I had some of my own thoughts in my head the other day about this.
I kinda want the class to be able to be instantiated the class would be:

`rx.Dipole(locations=(locs_m, locs_n))` or `rx.Dipole(m_locations=locs_m, n_locations=locs_n)`

[2020-05-25 21:25] lheagy commented on #877
:+1: I really like that!

[2020-05-25 21:45] lheagy commented on #877
I started this on the `transform-dc-updates` branch

[2020-05-25 22:14] lheagy opened #878 "instantiating the DC survey"
rather than computing the A, B, M, N locations by calling `getABMN_locations` and then calling the properties `a_locations`, I would suggest that we instead have `a_locations` etc as `@property`'s. E.g.

[code]

A few reasons for this suggestion:
- right now, these values would be serialized with the class, which is duplicate information as to what is stored on the sources and receivers
- it is po

[2020-05-26 03:43] jcapriot commented on #878
Again reading my mind, these should definitely be `@property`

[2020-05-27 18:56] prisae commented on #741
I am closing this. As it didn't happen in the simulation-PR it is unlikely going to happen. Re-open if you disagree ;-)

[2020-05-27 18:56] #741 closed

[2020-05-27 18:58] prisae commented on #700
Pinging @dccowan here, as you work a lot with the docs. If you think this has already been addressed then we can close it.

[2020-05-27 18:59] prisae commented on #859
I think that has been taken care of (right @lheagy ?). Closing.

[2020-05-27 19:02] prisae commented on #859
Ah no, this above is just a mention, not actually a submitted change...

[2020-05-27 19:04] prisae commented on #765
I guess this is related to #764 in a way, in general properly setting up the docs.

[2020-05-27 19:05] prisae commented on #862
That is fixed (not sure why it didn't got closed automatically).

[2020-05-27 19:05] #862 closed

[2020-05-28 04:08] prisae commented on #765
@jcapriot this issue was marked as closed in the release notes of 0.14.0, but I just checked, and the issue is still there?

[2020-05-28 04:09] prisae commented on #857
That was fixed in 0.14.0.

[2020-05-28 04:09] #857 closed

[2020-05-28 04:13] prisae commented on #765
E.g., klicking here:

http://docs.simpeg.xyz/content/em/api_FDEM.html#SimPEG.electromagnetics.frequency_domain.simulation.BaseFDEMSimulation

on the   [[source]](http://docs.simpeg.xyz/_modules/SimPEG/electromagnetics/frequency_domain/simulation.html#BaseFDEMSimulation)

results in
![Selection_001](https://user-images.githubusercontent.com/8020943/83098215-44f4cd80-a0aa-11ea-99c6-aac9a901c745.png)

[2020-05-29 01:17] lheagy opened #883 "static utils plot psuedosection"
Here are a few suggested updates on the `SimPEG.electromagnetics.static.utils.plot_pseudoSection` method:

- `plot_pseudoSection` -->  `plot_pseudosection`
- The argument `data_type="appConductivity"` --> `view` with options in
[code]
    where the key in the dictionary is what we use internally, and the values map to the given key

[2020-05-29 01:21] lheagy commented on #883
also, it looks like there is a fair bit of duplication between the `util` plot psuedosection and the `IODC` plot pseudosection at the moment - it would be great if we can make the util the "source of truth" and have IO call that

[2020-06-01 21:42] #850 closed

[2020-06-02 16:18] lheagy opened #886 "Base Survey cleanup"
In line with a number of the method / property renames in SimPEG, here are a few that I suggest for the base `Survey` class in SimPEG.

- `nD` --> `n_data`
- `vnD` --> `vn_data` (or `vector_n_data`)
- `nSrc` --> `n_sources`

(Also we might as well address this point about `getSourceIndex` being private)

https://github.com/simpeg/simpeg/blob/8a3f3e42ebb797e4d723d431ecf763ac0c1b9460/SimPEG/survey.p

[2020-06-02 16:55] lheagy opened #887 "2D DC Fields object"
For ease of plotting currents and such, it would be nice if we had the ability to directly access the integrated currents, electric fields, potentials, etc. Would
- `phi_integrated`
- `j_integrated`
- `e_integrated`
work for folks?

cc @jcapriot, @sgkang

[2020-06-04 02:05] lheagy commented on #887
:wave: @jcapriot: would you be willing to take a pass at the implementation? No worries if not, just let me know what work

[2020-06-04 02:20] jcapriot commented on #887
Yup! I’ll get

[2020-06-04 14:45] adamkosik opened #888 "ImportError: cannot import name 'SolverLU' from 'SimPEG'"
With the new version 0.14.0 I obtain this error on initialization of SimPEG.

 I am not using Pardiso and the SolverLU has not been imported in SimPEG yet. I solved it by prepending the import of the `Solvers` to the  import of the `simulation` in `__init__.py`.
[code]

[2020-06-04 15:06] adamkosik commented on #888
The proposed solution is just a workaround. Probably better is to change imports in `simulation.py` to :
[code]
instead of
[code]

[2020-06-04 15:14] jcapriot commented on #888
Thanks for catching this, it’s not often that we (the SimPEG developers) are in an environment that cannot import the pardiso solver, and this wasn’t checked.

Do you have details on your installation method? The pardiso solver should work when installing through conda-forge.

[2020-06-04 15:18] adamkosik commented on #888
I have used pip 20.0.2, Python 3.7.

[2020-06-04 18:31] jcapriot commented on #887
just had a thought that might work better... what if we changed the default field to `phi_ky` and then just did the integration if someone asks for `phi`, `j` or `e`?

[2020-06-04 21:26] lheagy commented on #887
:+1: I really like that @jcapriot!

It would also be nice if we could add charge density to the mix too (we have this in the 3D case)

[2020-06-08 15:55] #847 closed

[2020-06-08 15:55] #846 closed

[2020-06-08 15:56] #842 closed

[2020-06-08 18:03] #877 closed

[2020-06-08 18:03] #878 closed

[2020-06-08 19:13] #888 closed

[2020-06-08 19:13] #887 closed

[2020-06-08 19:14] jcapriot commented on #856
This has now been taken care of in `0.14.1`. You can directly access the `phi` and other solutions from the 2.5D fields object (it will take care of the transformation object behind the scenes).

[2020-06-08 19:14] #856 closed

[2020-06-08 19:15] #883 closed

[2020-06-08 19:16] jcapriot commented on #765
Try it now :)

[2020-06-08 19:16] #765 closed

[2020-06-15 20:50] ikding opened #893 "Implement Quarter-sine ramp on, quarter-sine ramp off waveform"
SimPEG currently has [`QuarterSineRampOnWaveform`](https://github.com/simpeg/simpeg/blob/c63e699cd22e7020b20799750c54e19be683943c/SimPEG/electromagnetics/time_domain/sources.py#L156-L190) which has a quarter-sine ramp-on and a linear ramp-off.

For some EM surveys, the waveform they used was a quarter sine ramp-on and ramp-off (instead of linear ramp off). This should be fairly easy for me to impl

[2020-06-19 16:32] JKutt opened #896 "drape_electrodes_on_topography breaking with 3D survey inputs"
https://github.com/simpeg/simpeg/blob/c63e699cd22e7020b20799750c54e19be683943c/SimPEG/electromagnetics/static/resistivity/survey.py#L178

It would appear that variables from lines 178 to 181 previously took in (x,2) locations from a 3D input of (x,3). Now it takes the (x,3) and the `drapeTopotoLoc` then throws the error "shape of pts should be (x,3)" If I modify lines 178 to 181 to take just (x,2)

[2020-06-24 22:52] lheagy opened #897 "documentation & "Getting Started" in SimPEG"
Right now, questions around conventions for
- coordinate system
- fourier transform
are not necessarily obvious in the docs. I think we should have these in the "Getting Started" section.

My suggestion for the "Getting Started" heading of SimPEG is similar to what we have in the [discretize docs](http://discretize.simpeg.xyz/), what do folks think of the following for the getting started heading

[2020-06-26 20:33] jedman opened #898 "different cell weights for "Small" term in the regularization"
As currently implemented, the regularization classes `Simple`, `Tikhonov` and `Sparse` apply the user-specified `cell_weights` to every term in the objective function. In some cases (such as when the reference model is well-constrained at only a few mesh cells) it might only be appropriate to apply the cell weights to the "small" term in the objective function, i.e. the deviation from the referenc

[2020-06-28 21:57] lheagy opened #899 "Zenodo record and @yezhengkai's name"
👋  Hi @yezhengkai, I am working on updating the [zenodo record](https://zenodo.org/record/3860973) for the latest release, and I would like to include your full name if you are willing to share it! Please either post it here, or you can email me directly (lheagy@berkeley.edu) if you prefer to keep it off of GitHub. Thank you!

[2020-07-01 15:47] lheagy commented on #899
Updated! https://zenodo.org/record/3860973/export/hx

[2020-07-01 15:47] #899 closed

[2020-07-03 00:25] jc-barreto opened #901 "Problem installing SimPEG new version 14.1"
Hello,

I have been using SimPEG 13.1 and in order to try to run just inversion and to get used to  the new version,
I have created a new environment and tried to install SimPEG 14.1 in this environment, but It gives an error.
Since I already have SimPEG 13.1 working, I'm wondering if in the new version is necessary to install something else before...
this is the error I'm getting:
![image](https:

[2020-07-06 03:20] wdh969 opened #902 "module 'SimPEG.PF.Gravity' has no attribute 'receivers'"
---------------------------------------------------------------------------
AttributeError                            Traceback (most recent call last)
<ipython-input-224-81f3b65de689> in <module>
     11 components = ['gz']
     12
---> 13 receiver_list = Gravity.receivers.Point(receiver_location,componets = componets)
     14
     15 receiver_list = [receiver_list]

AttributeError: module 'SimPE

[2020-07-06 04:21] #902 closed

[2020-07-06 04:22] wdh969 commented on #902
i know,because the version of SimPEG

[2020-07-06 21:40] lheagy commented on #898
Thanks for this @jedman! This would be good to have. I like the approach you suggest - in the `Simple` or `Tikhonov` and `Sparse` pop the `cell_weights` and then only pass to the smallness term if desired. For consistency with the way `mref` is set (which is currently `mrefInSmooth` - ugh - should go to `mref_in_smooth` 😄 ), I would suggest we go with `cell_weights_in_smooth` for the key-word.

@j

[2020-07-06 21:43] lheagy commented on #901
Hi @jc-barreto! Sorry you are running into issues...

It looks like you are installing via `pip`, is that correct? If so, the installation via `conda` should be much more straightfoward (esp. on Windows). In that case, what I would recommend is that you uninstall your current versions of SimPEG and discretize

[code]
and
[code]

and then re-install via conda (this will install discretize and SimPE

[2020-07-06 21:57] jcapriot commented on #898
I think this is a case for not using the pre-made ``Simple``, ``Small``, and ``Tikhonov`` regularizations, and instead use the components of them individually for this purpose.
I,e. ``Simple`` is a summation of ``SimpleSmall`` + ``SimpleSmoothDeriv`` (one derivative for each dimension).

[2020-07-06 21:59] lheagy commented on #564
It took us a while to get moving in this direction, but with a huge(!) thanks to @dccowan, the tutorials section of the SimPEG docs are much more consistent with the merge of #786: http://docs.simpeg.xyz/.

I will close this, but feel free to take a look and re-open if you have further suggestions!

[2020-07-06 21:59] #564 closed

[2020-07-06 21:59] domfournier commented on #898
This raises a slightly bigger issue regarding `cell_weights` being used for the sensitivity weighting. Right now it is almost impossible to apply a second layer of user-defined custom weights (like what @jedman is trying to do) on top of automated sensitivity re-weighting that the Directives are targeting. I am wondering if we would not be better off adding an extra layer to each component of the

[2020-07-06 21:59] #202 closed

[2020-07-06 22:01] #524 closed

[2020-07-06 22:01] #527 closed

[2020-07-06 22:03] lheagy commented on #556
Lots improved with the docs work by @dccowan in #786! I will close this for now in favour of opening new issues for any more specific comments / suggestions of the Gravity docs.

[2020-07-06 22:03] #556 closed

[2020-07-06 22:04] domfournier commented on #898
Agree with @jcapriot above. You are just better of applying the weights on the component of the reg directly rather than on the top level. i.e.

`for objfun, weights in zip(reg.objfcts, my_special_weights):
    objfun.cell_weights = weights`

[2020-07-06 22:06] lheagy commented on #559
@fourndo: do you think the current solution of casting all regularizations to combo for the directives is sufficient to close this?

[2020-07-06 22:07] #562 closed

[2020-07-06 22:09] lheagy commented on #569
with the use of `properties` for these now, this should be more clear. The "broader scope" item can be re-visited in a new issue

[2020-07-06 22:09] #569 closed

[2020-07-07 00:07] domfournier commented on #559
I think this is nice to be able to pass down changes to all components of a Combo.
I am guessing your question is related to #898 ?

We might just have to add another type of weights (regularization_weights vs function_weights?) since we are effectively trying to add another layer of nobs.

`cell_weights` is a bit of a misnomer for the gradient terms anyway ...

[2020-07-08 18:05] prisae commented on #764
Pinging @jcapriot , because you fixed https://github.com/simpeg/simpeg/issues/857 :-D - it would be really cool to be able to use intersphinx on SimPEG.

[2020-07-08 18:59] jedman commented on #898
Thanks everybody! If this use case is not that common, then I think the solutions suggested by @jcapriot and @domfournier are sufficient-- a new keyword argument would just be convenient. On the other hand, @domfournier makes a good point about the user-defined weights not really being compatible with the sensitivity weighting directive, as currently written. In most cases, I would think one would

[2020-07-08 21:06] jc-barreto commented on #901
Hi! your advice worked! now I have SimPEG 14 installed in an environment. Thank you =)

[2020-07-08 21:06] #901 closed

[2020-07-09 14:12] janwillembuist opened #904 "Adding __repr__ and __str__ methods for Simulation classes in electromagnetics"
I think the Simulation classes in both `time_domain` and `frequency_domain` would benefit of having `__repr__` and ` __str__` methods. Basically this would mean the output of `print(random_simulation_instance)` would go from `<SimPEG.electromagnetics.time_domain.simulation.Simulation3DElectricField object at 0x000002769C9A6DF0>` into something more useful.

As a happy frequent user of the `time_do

[2020-07-13 09:45] TobiasGlaubach opened #906 "Implementing Anisotrophy for Conductivity"
Hi,
I was working with SimPEG to simulate FDEM layered earth models for well logging. By now I have my model working properly and nearly all needed features implemented. The only thing missing is anisotrophy for the conductivity. I tried supplying a 3x3xNcells tensor for the `sigmaMap` argument of `FDEM.Problem3D_b` but this did not work for me.

For each cell the conductivity would be different i

[2020-07-20 20:44] jcapriot opened #913 "drapeTopo on TreeMesh"
Currently when given a `TreeMesh` the `drape_electrodes_on_topography` function will shift the x,y, locations to the cell centers, in addition to shifting the z locations.

For 3D:
Ideally the path forward would be to create a 2D TreeMesh slice along topography, and define the height along that variable slice. Then use the TreeMesh slice to get `point2index and return the height of the slice for e

[2020-07-20 20:57] #893 closed

[2020-07-24 19:53] #896 closed

[2020-07-26 07:20] bluetyson commented on #897
Yes, I think this could use some expansion.  The 'this' then 'this' then 'this' part of using the code is reasonably clear.

Your tutorial here is excellent :- https://github.com/simpeg/transform-2020-simpeg/blob/master/1-century-dcip-inversion.ipynb (and presumably took lots of work).  One of the best explanations of something highly technical with code I think I have seen.

Like most programming

[2020-07-26 07:22] bluetyson commented on #897
Some of which might be in the aforementioned 'conventions on coordinate systems' etc. So write, once, add link. :)

[2020-08-07 22:49] lheagy commented on #424
I am going to close this - the properties class takes care of a lot of these ideas

[2020-08-07 22:49] #424 closed

[2020-08-07 23:23] jcapriot commented on #218
We're thinking of moving this into the discretize repository as they are mesh independent and could be more useful for a more general approach.

[2020-08-07 23:25] #300 closed

[2020-08-07 23:30] lheagy commented on #347
Closing for now - if there is a use-case we can revisit.

[2020-08-07 23:30] #347 closed

[2020-08-07 23:33] lheagy commented on #353
close this in favour of looking at fields as Xarrays #722

[2020-08-07 23:33] #353 closed

[2020-08-07 23:35] lheagy commented on #412
Closing this in favour of writing more specific issues on analytics

[2020-08-07 23:35] #412 closed

[2020-08-07 23:45] #559 closed

[2020-08-08 00:06] lheagy commented on #500
I quite like the PyGimli page with references: https://www.pygimli.org/publist.html

[2020-08-08 00:08] lheagy commented on #500
Making a table in rst:

[code]

[2020-08-12 19:59] #898 closed

[2020-08-12 20:15] jedman opened #919 "add a "current" parameter to TDEM LineCurrent"
The source class `electromagnetics.time_domain.sources.LineCurrent` always uses a unit current, but it's nice to be able to scale the current (like for `CircularLoop`).

suggested changes here: https://github.com/simpeg/simpeg/pull/918

[2020-08-27 11:47] jabascut opened #920 "Laguna El Maule Example results with opposites sign"
I ran the Laguna El Maule example with Simpeg 0.14.2 and compared the inverted density model with Miller et al. 2016 (Paper presenting the gravity survey of Laguna El Maule). Both results are very similar, but the inverted densities of SimPEG have the opposite sign of the Miller et al. densities. The Miller et al. results, which show a negative density anomaly, have more sense because they are ass

[2020-09-01 14:11] lheagy commented on #920
cc @domfournier , @craigmillernz: would you mind looking into this?

[2020-09-01 14:18] lheagy commented on #906
Hi Tobias, Apologies for the delay! To input an anisotropic conductivity, the array should be shape `(nC, 3)` (for diagonal) or `(nC, 6)` for the full tensor. So

[code]

There is an example (that is not overly documented, sorry!) here: https://github.com/prisae/3d-csem-open-source-landscape/blob/simpeg/model-block/SimPEG/layer-simpeg-tensor-Copy1.ipynb

[2020-09-01 14:20] lheagy commented on #870
@jcapriot: do you know what might be going on here?

@lacorey14: it might be worth trying to update discretize `conda install -c conda-forge discretize` (conda is the best way to install discretize)

[2020-09-07 07:55] rolandhill commented on #920
Hi,
There appears to be an issue in the gravity inversion code rather than the example. I ran my own models and found density lows underneath gravity highs. It looks right, just inverted. If you check the SimPEG gravity example on the web site you will find it does the same thing. The gravity high is on the left and the gravity low on the right, however the low density model is on the left and the

[2020-09-07 10:07] rolandhill commented on #920
... or is this because of a positive up convention?

[2020-09-07 11:17] jcapriot commented on #920
SimPEG does have a consistent right handed coordinate system convention where z is positive up.

[2020-09-10 23:15] craigmillernz commented on #920
This is a bug which we have fixed and should be in the next release.  SimPEG expects a "postive up" convention, which is a bit unintuitive for gravity but makes sense for other SimPEG internals.  If you import your data using the `readUBCgravityObservations`  function that reads in a UBC format obs or grv file (where negative residual gravity anomalies are negative sign) then simpeg will now flip

[2020-09-10 23:23] domfournier commented on #920
Will be addressed in PR #922

[2020-09-21 10:20] markgrujic opened #924 "projectFields defined in gravity class Survey instead of class Simulation3DDifferential"
Hi,
Just working through the PDE solvers and have issues with projecting the fields onto data space for the gravity case.
It looks like the function is defined for the Survey object class.
For the mag case, it works as expected as it is defined within the Simulation3DDifferential class.
Cheers

[2020-09-21 10:29] markgrujic opened #925 "Gravity PDE getRHS returns sparse matrix instead of ndarray"
Hi,
In the Simulation3DDifferential class for the gravity PDE solver, function getRHS seems to return a sparse matrix (csr_matrix). This causes an error when trying to multiply by the simulation .solver.
Is is ok to take the diagonal, as follows:
[code]
Cheers

[2020-09-21 15:13] domfournier commented on #925
wowzer, this needs to be updated. I think what you did would, but we need to fix it on our end for sure.

[2020-09-21 15:14] domfournier commented on #924
Hence why we need to add a test for the gravity PDE. Thanks for raising this.

[2020-09-23 07:55] ezraermy opened #926 "Upgrading sympeg"

[2020-09-23 08:08] ezraermy commented on #926
Sorry guys I already solved the issue. However, my upgraded simpeg is 0.5.1 instead of 0.7.1. I don't understand why.

[2020-09-25 07:05] craigmillernz commented on #926
I'll close this as insufficient description is given to assess the issue.  Feel free to resubmit with more details.

[2020-09-25 07:05] #926 closed

[2020-09-25 11:45] ezraermy commented on #926
I am sorry for the insufficient description. I already fixed the problem.

[2020-10-07 07:35] ezraermy opened #930 "Reading all modeling parameters at once using 'MagneticsDriver_Inv'"

[2020-10-07 07:59] ezraermy commented on #930
Hi all,

Once I provided all model parameters to read in using 'MagneticsDriver_Inv', assuming that it needs the same data format with the gravity one provided in example 'plot_laguna_del_maule_inversion.py', as shown the initial code bellow,
![Q1](https://user-images.githubusercontent.com/35451409/95303086-71f09280-088b-11eb-8ecf-9adafce32fc2.png)

Running the initial code keep getting failed say

[2020-10-07 21:03] domfournier commented on #930
Hi Ezra,

It sounds like a change in the input file. I suspect that there has been a syntax change between what you are using and what it is expecting.

Can you show your input?

[2020-10-08 05:59] ezraermy commented on #930
@domfournier thank you for your reply.

My inputs are: magnetics_inp.inp, magnetics_mesh.txt, magnetics_topo.txt and magnetics_data.txt
magnetics_inp.inp looks like:
![Q3](https://user-images.githubusercontent.com/35451409/95420613-6b722180-0944-11eb-9762-a839d2444649.png)
.

[2020-10-08 06:05] ezraermy commented on #930
I also tried by changing the file's extension to:   magnetics_inp.inp, magnetics_mesh.mesh, magnetics_topo.topo and magnetics_data.obs. I still got the same issue.

[2020-10-08 08:58] ezraermy commented on #930
@domfournier , I think I fixed the problem. Adding Magnetization model in the input file (line 6). Now the driver works fine.

Thanks for your tips once again.

[2020-10-23 03:09] thast opened #933 "LinearSimulation seems to ignore model_map argument"
It seems that model_map is not used anywhere in the LinearSimulation class... I tried passing it a maps.Wires but it has no effect (in the examples and tutorial, it is tested with an IdentityMap with a fully active vector, thus it could not be detected.)

I am still new to the simulation class, so let me know if I am mistaken.
If true, would the correct fix will be to write, in `simulation.py`: `s

[2020-10-23 03:11] thast commented on #933
I am still new to the simulation class, so let me know if I am mistaken.
If true, would the correct fix will be to write, in `simulation.py`: `self.model = self.model_map * m` instead of `self.model = m`

[2020-10-23 22:54] thast opened #934 "Unnecessary warning trigger with linearSimulation"
Simply running the tutorial `plot_inv_1_inversion_lsq.py`, I obtain a warning that does not seem to be necessary.

The line `sim = simulation.LinearSimulation(mesh, G=G, model_map=model_map)`

triggers the warning:

![image](https://user-images.githubusercontent.com/13682747/97060345-eb54da00-1547-11eb-8716-5f345e940870.png)

where G seems to be by all mean a valid property... it seems to be more

[2020-10-24 00:23] thast opened #935 "Improving BetaEstimate_byEig"
This is to prepare a future PR of mine, parsing out some improvement of my branch in little chunks.

I show in this notebook why, I think, the current implementation of `BetaEstimate_byEig` is deficient. A single iteration of Rayleigh quotient is actually not a good estimator: it can vary by many order of magnitude depending of the random starting point (fortunately a seed is hardwired in the dire

[2020-10-30 16:38] lheagy commented on #500
Where do folks think we should do this? Is it best suited in the [SimPEG docs](http://docs.simpeg.xyz/)? or maybe on the main [SimPEG webpage](https://simpeg.xyz/)?

I am inclined to suggest we put it on the simpeg.xyz and then have a link in the docs that points there. This way, folks who only use discretize, geoana, or one piece of the ecosystem can still post there. Thoughts?

[2020-10-30 16:39] lheagy commented on #838
I am going to close this in favour of parsing out new issues as the GWB project has come to a conclusion.

[2020-10-30 16:39] #838 closed

[2020-10-30 16:53] lheagy opened #941 "Add license and copyright notice to all source files"
We should add a copyright notice and license information (names and terms) in every `.py` file. This notice should be at the top of each file
[code]

Where `PROJECT`
- [ ] `SimPEG`
- [ ] `discretize`
- [ ] `geoana`
- [ ] `pymatsolver`

This has been surfaced by @prisae, and again re-iterated by @leouieda in fatiando/maintenance#10 in an unfortunate experience where someone has copied the entire co

[2020-10-30 18:06] leouieda commented on #941
Feel free to use the code in the Fatiando issue to do this in bulk 🙂

[2020-11-02 20:58] #933 closed

[2020-11-08 00:49] lheagy opened #947 "NSEM relying on FDEM base class"
In order to have the NSEM simulation be able to rely directly on the `FDEM` forward + sensitivity calculations, there are a few things we need to update, particularly with the handling of two polarizations for a 3D simulation.

## Assumptions that we need to work through:
In the calculation of the fields, we store both fields:
https://github.com/simpeg/simpeg/blob/bf765d73d1c104805e30bcd062426e36a

[2020-11-09 12:19] itzimah opened #948 "question] FDEM inversion with real data - mini explorer"
Hello!
Hope you are doing fine.
I'm trying to invert real data from the conductivity meter mini-explorer and Im using your example (2D inversion of Loop-Loop EM Data), then Im using my source locations from a file, transforming my data into the secondary field, and using data.Data() to use afterwards data_misfit.L2DataMisfit, define the regularization and so on. But Im not sure how is the data inp

[2020-11-09 16:08] #930 closed

[2020-11-09 21:31] lheagy commented on #947
@JKutt and I chatted about this yesterday, I don't think we need to create a fancy source, but rather update how the `survey` keeps track of which indices in the fields object are associated with that source. This is currently handled by the `survey._sourceOrder` property that is a dictionary with the sources as keys and the values being the location of the source in the source list. If we instead

[2020-11-09 23:16] jcapriot commented on #947
I think we could get rid of the entire _sourceOrder option, and just not worry about it. essentially this would result in accessing the fields object as an array of (nSrc, nE, 2). For each source this is then an (nE, 2) array.

I don't think it would then require much to be modified, only would need to update the `MeSigmaDeriv` function to know what to do if it sees something that looks like (...,

[2020-11-09 23:59] jcapriot commented on #947
I think something like this would work for `MeSigmaDeriv` it in the cases needed for MT... without breaking it for other cases, but I haven't tested it
[code]

[2020-11-10 00:06] JKutt commented on #947
@jcapriot & @lheagy I can give this a test. I'm working at this currently

[2020-11-10 00:09] jcapriot commented on #947
If you need help with it let me know, been thinking through this in my head a bit, just trying to look at where the MT simulation class and the FDEM ElectricField simulation class overlap

[2020-11-10 00:26] JKutt commented on #947
feel free to poke around! I got a bit held up on some of the source_utils stuff on the nsem side. but looking at things now.

[2020-11-15 05:21] dccowan opened #950 "Edit on GitHub Extension failing for windows"
When trying to make html for the SimPEG docs, I ran into an error. It has to do with the fact that Anaconda was installed on the C: drive, but the SimPEG repository is saved to the D drive. In researching this, I learned that defining a relative path between the two directories with *relpath* is not trivial on windows machines. Below is the error when building the html:

![image](https://user-imag

[2020-11-16 06:25] dccowan commented on #950
Error occurs in the *conf.py* file within the function *linkcode_resolve*. It happen when executing *relpath*.

![image](https://user-images.githubusercontent.com/12970009/99219262-1de1a380-2791-11eb-8389-faeaafe47b66.png)

[2020-11-16 22:20] jcapriot commented on #950
I would suggest turning off the "sphinx.ext.linkcode" extension in your conf.py.

[2020-11-18 22:55] rolandhill opened #955 "3D IP inversion crashing"
Hi,

I modified the 2D IP inversion script from the web site to perform 3D inversion using my own data and found that the resistivity (dc) part worked fine, then the IP inversion crashed. I then made a direct conversion of your plot_inv_1_dcip2d.py code to 3D to confirm the crash and found that it crashes in the same place. Please note that I may have done something wrong in the conversion, but th

[2020-11-20 00:20] jcapriot commented on #751
This was closed with 0.14.0!

[2020-11-20 00:20] #751 closed

[2020-11-20 00:21] jcapriot commented on #702
With #956, testing is now done using pytest!

[2020-11-20 00:21] #702 closed

[2020-11-20 00:43] dccowan opened #957 "Creating a utils for generating different types of topography"
A strong argument can be made for creating some basic functions for creating basic topography. For some set of input parameters, the function would output the [x, y(, z)] topography. Some examples include:
- A hillside that follows a hyperbolic tangent function
- A valley or ridge
- A mountain or basic like structure (either pyramid or flat bottom)

To accomplish this, I propose that we create a f

[2020-11-21 03:08] jcapriot commented on #662
I do not believe this is an issue anymore, we have switched to pytest, and we are able to plot matplotlib plots during the testing, (at the very least by first making an Agg backend for matplotlib).

Also the tutorials and examples are run now as tests which will collect coverage information.

[2020-11-21 03:08] #662 closed

[2020-12-12 00:22] #935 closed

[2020-12-12 02:12] thast commented on #957
@dccowan : can it be closed?

[2020-12-12 02:14] jcapriot commented on #957
I don't believe these were added yet.

[2020-12-12 02:18] thast commented on #957
Sorry, my bad, I mistook it with #932

[2021-01-13 21:40] #955 closed

[2021-02-02 18:58] #920 closed

[2021-02-03 01:01] domfournier opened #968 "Looping through data?"
https://github.com/simpeg/simpeg/blob/d20eefa6b2238210d1c6c14f998c53bb8ea009a4/SimPEG/potential_fields/gravity/simulation.py#L52

@lheagy
Why did we switch to a for-loop here?

[2021-02-03 01:37] jcapriot commented on #968
I think it was because you had wanted to avoid double storing the sensitivity matrix when it was in memory.

[2021-02-03 15:45] lheagy commented on #968
Hmm, yeah I think @jcapriot's comment is right here. I think that the dense matrix multiplication grows memory quite a bit, but there might be a way to do that in-place? That isn't something I have looked into

[2021-02-03 16:23] domfournier commented on #968
Oh yea totally, I recall now. The dask operation could do it in place, but now numpy.
Let's leave this guy open for a little while as a reminder.

[2021-02-03 22:01] jcapriot commented on #968
Actually... I think the answer here to both questions, is `np.einsum`, and I believe the appropriate line of code will be,
[code]

From some quick tests, this is even about 10 times faster than
[code]

I still need to double check the memory requirements though.

[2021-02-03 22:35] domfournier commented on #968
Wow that was quick. Thanks Eisten (@jcapriot  ;)

Just tried on this:

`import numpy as np
G = np.random.randn(10000,100000)
W = np.ones(G.shape[0])`
This indeed works:
`np.einsum('i,ij,ij->j', W, G, G)`

This blows up:
`np.sum(W[:, None] * G**2., axis=0)`

[2021-02-04 00:31] jcapriot commented on #968
Yeah, `einsum` is actually very powerful and I love it, but I’m just still not the best at remembering _how_ to use it.

[2021-02-19 14:30] JuanjoLedo opened #970 "ImportError: cannot import name 'Mesh' from 'SimPEG'"
Hello, I'm trying to run the notebooks related to the TLE nonlinear inversion paper and I get this error "ImportError: cannot import name 'Mesh' from 'SimPEG'"
I have SimPEG installed, please, could you give some hint how to solve it?

thank you very much

best regards

[2021-02-20 04:28] chrisweird7 opened #971 "A question using Example of Seismic Inversion"
I'm a researcher on Seismology and recently I found this promising SimPEG and instantly attracted to it.
I installed the environment and had a try at once, I noticed the Seismic Example in the documentation which is about the velocity tomography problem.
I ran the example and got the exactly same results, very cool.
Then, I tried to test more.
I modified the sources and receivers in the example to

[2021-02-21 13:53] ckohnke commented on #971
I gave this a shot. Without seeing more code, my guess is that you aren't making observed data for your modified survey, or making dobs in a way that is valid to the inversion, but not consistent with the survey you are using. To accomplish this, you should probably move the simulation definition to much earlier in the program and use the `make_synthetic_data` function in the simulation to generat

[2021-02-22 01:14] chrisweird7 commented on #971
Thank you very much. Your result is amazing and encouraging. I'll try to figure it out under your guide.

[2021-02-22 01:15] chrisweird7 commented on #971
@ckohnke Thank you very much. Your result is amazing and encouraging. I'll try to figure it out under your guide.

[2021-02-22 02:16] chrisweird7 commented on #971
@ckohnke I've figure it out. I don't know what to say. How careless I am. I did all things right except to copy the code line `np.random.seed(0)`. It means my sources were changing all the time. Haha, my problem becomes a joke. Anyway, now I have the right result and yes, SimPEG is good.

[2021-02-24 20:05] domfournier opened #972 "Shift XY location on drapeTopo"
https://github.com/simpeg/simpeg/blob/768c073813ac3ae6e16e9d367279dc79baa986fe/SimPEG/electromagnetics/static/utils/static_utils.py#L1971

@jcapriot Any reason why we are also shifting the XY, instead of just Z, for the TreeMesh?

[2021-02-24 20:50] jcapriot commented on #972
No idea, you wrote it that way!
Duplicate of #913

[2021-02-24 20:51] #972 closed

[2021-02-24 21:05] domfournier commented on #972
I see @sgkang you were the last one touching it. Is there something we should worry about just shifting Z and not XY?

[2021-02-24 21:48] jcapriot commented on #972
It’s a matter of selecting the heights in the top cells. It takes a little thought to make it work properly, as a closest neighbor lookup through a kdtree won’t work all the time.

[2021-02-24 21:52] jcapriot commented on #972
#842 Was a bug related to this, which is where I thought it had came from.

[2021-02-24 23:30] xiaolongw1223 opened #973 "An inconsistence issue of data and model for gravity examples in the tutorial"
Hi, guys,

I just noticed the model and data maps are inconsistent. For example, the negative anomaly body locates at left, but the negative gravity response is in right. It is probably caused by the different perspective.

Is better to make them consistent?

<img width="1082" alt="Screen Shot 2021-02-24 at 4 36 03 PM" src="https://user-images.githubusercontent.com/56940558/109079225-3fbdc100-76c4

[2021-02-24 23:31] xiaolongw1223 commented on #973
The two data figures look a bit different because I changed the number of contour lines from 30 to 100.

[2021-02-24 23:33] jcapriot commented on #973
SimPEG uses a right hand sided coordinate system with z to be positive upwards (x- positive east, y positive north). This cause most gravity anomalies to "look" backwards, but we intentionally made that decision to keep the entire package self-consistent.

[2021-02-24 23:38] xiaolongw1223 commented on #973
I see! Thanks for clarify this for me. I will close this right later.

[2021-02-24 23:38] #973 closed

[2021-02-27 18:43] dccowan opened #975 "The problem with an all purpose DC survey class"
I am spearheading a clean up and refactor of the DC/IP utilities as part of PR #974 . I have noticed a fundamental problem with the survey class that we should make a decision on.

**Problem:**
When working within SimPEG and when reading and writing UBC-GIF formatted data files, we want the ability to **not** include the vertical position of the electrodes and assume a surface survey. The way we h

[2021-02-27 19:18] jcapriot commented on #975
I believe a 3D survey without elevations defined should not be a supported format for the receivers and sources in a survey. It is something that should be handled by the IO routines to get it into the proper SimPEG format.

The drape_topo functions already take care of adding in the elevations to the electrodes.

I don’t see any problem with keyword arguments, and would prefer those.
The focus sh

[2021-02-27 19:21] jcapriot commented on #975
Maybe something along the lines of a warning when a user is reading in a surface UBCGIF formatted file that says “you must attach elevations using the drape_topo function”

[2021-02-27 20:05] dccowan commented on #975
Ya I like this. SimPEG is its own framework and you can take care of these problems in 1 step in the IO.

[2021-02-27 20:16] domfournier commented on #975
I agree, we just need to specify what type of simulation we are expecting on the read, and return nan on the elevations if not included. The issue is more about ambiguity in the legacy UBC file format.

[2021-02-28 16:57] lheagy opened #976 "update since 0.14.1 causing error in IP inversion?"
When running the [first notebook in the transform tutorial](https://github.com/simpeg/transform-2020-simpeg/blob/master/1-century-dcip-inversion.ipynb) on the latest version of SimPEG, we run into an error in the IP inversion in cell 56 (thanks @dougoldenburg for catching this!). Does anyone have insights as to what might be the source of error? It was something that changes since the 0.14.1 relea

[2021-02-28 19:42] thast commented on #976
@lheagy, quick look:
- The error seems to happen during the `BetaEstimate_ByEig` directives when trying to evaluate the field in the `eigenvalue_by_power_iteration` utils. The field evaluation seems to be the issue as it fails when computing the `forward`. Are `m` and `J` of agreeable size?
- not sure if related, but some times ago a user was also encountering issues with IP (issue #955) and I sol

[2021-02-28 19:44] thast commented on #971
Glad this worked @chrisweird7 ! And many thanks @ckohnke for championing this issue.

As your issue seems to have been solved @chrisweird7, are you OK with closing it?

[2021-02-28 19:47] thast commented on #970
Hi @JuanjoLedo,

Several things:

- make sure you use the latest version of SimPEG (currently 0.14.3). You can check it like this:
[code]

- The preferred way of importing the Mesh functionality is now to import the package `discretize` separately:
[code]

[2021-03-01 02:22] thast commented on #970
@sgkang might have something to add to this.

[2021-03-02 02:15] thast commented on #976
The problem seems to really come from the `simulation2D`; even getting solely the data misfit gives the same error:
![image](https://user-images.githubusercontent.com/13682747/109586433-0fa66180-7aba-11eb-9e64-5ff101d0741f.png)

[2021-03-02 03:50] chrisweird7 commented on #971
@thast Sure.

[2021-03-02 03:51] #971 closed

[2021-03-04 19:33] lheagy commented on #976
Yeah, it seems like we are missing a reshaping somewhere...

[2021-03-04 20:00] jcapriot commented on #976
Does this only happen for apparent changeability data?

[2021-03-12 18:52] ckohnke opened #978 "Method.Simulation vs. Method.simulation.Simulation"
This is from a quick question I made on slack a ways back, but finally got around to making an issue at @jcapriot's request back then. I won't pretend that this is an eloquently typed up issue...

Basically:
- `Method.Simulation` is more general as it can contain multiple modules such as `simulation1D` or `simulation_layered`, etc. This is the preferred way to create a simulation, and I haven't fo

[2021-03-19 15:36] lheagy opened #979 "inversion without regularization"
Right now, the base inverse problem requires that we instantiate it with a regularization. However, if you are running a parametric inversion, regularization might not be necessary. We can hack around this by still creating a regularization but then setting beta to zero. It would be cleaner to remove this as a necessary step and allow regularization to be None.

[2021-03-28 17:29] lheagy opened #980 "renaming the "master" branch to "main""
GitHub has changed the default branch name for new repositories to be "main" rather than "master". The term "master" has connections with master / slave and these terms are harmful. So I suggest we re-name branches across our projects to "main" to be more inclusive. There are some pointer on how to do this on the github docs: https://github.com/github/renaming

See a couple resources on this discu

[2021-03-31 02:01] dccowan opened #981 "Global issues with tutorials and examples galleries"
There are a few global issues related to our example and tutorial galleries that must be addressed:

**Where do we want to store data loaded into tutorials?**

Primarily when creating inversion tutorials, we start by loading a set of supporting files (geophysical data, topography etc...). We need to store these files somewhere. The storage option should:

- Be easily accessible to all SimPEG membe

[2021-03-31 02:08] jcapriot commented on #981
These are great points Devon! We should discuss a little more about them at the next meeting. Something else I’d like to discuss is the possibility of separating the tutorials themselves into there own repository. They are getting rather cumbersome in terms of computation time and it might be best to just provide a hyperlink to another separate documentation page that has all of them.

[2021-03-31 03:35] domfournier commented on #981
I completely agree with Joe. Tutorials should be its own project enterily, and just referenced as an "external project" on the main page. Examples on the other hand should be extremely light and simply exposing functionality and not use cases.
This brings back the topic of "What is the mission of" simpeg, which I don't think we, as a group, haven't really  answered yet.

[2021-04-02 21:13] lheagy commented on #980
To update locally, you will need to run

[code]

[2021-04-02 21:27] lheagy commented on #980
I will close this, but please re-open if you run into any problems!

[2021-04-02 21:27] #980 closed

[2021-04-09 22:10] thast opened #985 "QuadTree Regularization requires an IndActive"
When using a 2D quadtree mesh, any regularization, except `Tikhonov`, requires to specify an explicit `indActive`.

Code to reproduce the error:

[code]

[2021-05-01 07:58] ngodber opened #992 "latest discretize (v0.7.0) with SimPEG.EM.Static.2DCellCentered generates shape mismatch error"
![image](https://user-images.githubusercontent.com/11834846/116775459-6e7e5c00-aaa6-11eb-9609-c5f23f14ecc6.png)
Previously get_BC_projections_simple was undefined for TreeMesh as the DiffOperators mixin was not inherited. With discretize 0.7.0 is is, so code path executes further than previously (where a missing operator was encountered previously). Now utilising CellCentered2D with treemesh gener

[2021-05-01 08:00] ngodber commented on #992
Note, above code works substituting Simulation2DNodal.

[2021-05-01 08:20] jcapriot commented on #992
I’m in the process of updating the boundary condition implementation for DC, hold your horses!

[2021-05-01 08:32] ngodber commented on #992
No worries, I'm just near militant about doing whatever I can to contribute back and often noone bothers to ever log stuff!

[2021-05-06 17:04] 07638 opened #995 "DC Resistivity Forward Simulation in 2.5D"
Hello seniors, I am a beginner and I want to ask you a question.(DC Resistivity Forward Simulation in 2.5D)In this experiment, why do I use the code provided in the tutorial to get the forward images and examples that are different
!
![1)YCM}UHello seniors, I am a beginner and I want to ask you a question.(DC Resistivity Forward Simulation in 2.5D)In this experiment, why do I use the code provided

[2021-05-07 16:15] sgkang commented on #995
Hi @07638,

Thanks for your question.
It is not clear to know which tutorial that you are using, and what different results that you are getting.
Please provide a bit more information such that we can help you.

[2021-05-11 00:34] RichardScottOZ opened #998 "Edit on Github - 404 page not founds"
Generally

https://docs.simpeg.xyz/content/pf/index.html

to :-

https://github.com/simpeg/simpeg/edit/master/docs/content/pf/index.rst

[2021-05-12 06:43] 07638 commented on #995
This is what the tutorial produced
![image](https://user-images.githubusercontent.com/81788016/117930301-69d06800-b330-11eb-800d-1439de1e58f6.png)

[2021-05-12 08:46] 07638 commented on #995
Come a kind-hearted person to help me! I'm about to die with this question. please!!!

[2021-05-12 18:24] sgkang commented on #995
Hi @sgkang,

Which version of SimPEG are you using?
Make sure you use the latest version of the SimPEG to have compatible results shown in the documentation.

`conda install SimPEG --channel conda-forge`

latest version is 0.14.3, you can check the version of SimPEG:
`import SimPEG`
`SimPEG.__version__`

[2021-05-12 19:07] 07638 commented on #995
Thank you for your answer! I tried the method you just provided, but my version is up to date .This is the result of running the program

![Uploading image.png…]()

[2021-05-12 19:07] 07638 commented on #995
Thank you for your answer! I tried the method you just provided, but my version is up to date .This is the result of running the program
![image](https://user-images.githubusercontent.com/81788016/118030852-65d83080-b398-11eb-8c41-18ce601b30d1.png)

[2021-05-14 20:58] xiaolongw1223 opened #1000 "Depth weighting"
Hi, guys,
Seems depth weighting is unavailable in SimPEG. Is "utils" a good place to create a function to generate depth weighting?
Then we can do something like:

reg.cell_weights = utils.depth_weighting(v, z0), where v and z0 are adjustable.

If "utils" is a good place for depth weighting, I can do that.

[2021-05-14 22:21] domfournier commented on #1000
hey @xiaolongw1223 : There is a function under `potential_fields.base.get_dist_wgt` but that's distance weight and super specific to mag. If you are interested in moving this around to `utils` that sounds great to me. We could give it an argument for the power of decay I guess?

[2021-05-14 22:32] dccowan commented on #1000
Why not use sensitivity weighting in directives?
# Add sensitivity weights
sensitivity_weights = directives.UpdateSensitivityWeights(everyIter=False)

Since it's constant, set update every iteration to False

[2021-05-14 22:33] RichardScottOZ commented on #1000
Sounds like a good thing to have

[2021-05-14 23:09] xiaolongw1223 commented on #1000
Yup, we could do that.

[2021-05-14 23:12] xiaolongw1223 commented on #1000
Sensitivity works well.
Here I just wanna provide another option in case some people need it. Also, we could change the power of decay.

[2021-05-15 04:47] thast commented on #1000
PR #1000! Well played,  @xiaolongw1223 ! 🥳  Is there a price for that? 🥇

[2021-05-15 04:55] xiaolongw1223 commented on #1000
Will do that!

[2021-05-15 16:33] #793 closed

[2021-05-15 16:33] #610 closed

[2021-05-18 02:20] thast commented on #995
This is an issue with `mkl` and `pardiso` (not SimPEG). So all we can do for now until they fix it is to hide the warning.

solution 1: set a environment variable KMP_WARNINGS=0 (there are lots of resources online to learn how to set environment variable on mac or window).

solution 2: at the start of your script, add the following lines:
[code]

[2021-05-20 07:24] WouterDls opened #1008 "Scale Search Direction: to abs(max(p)) or max(abs(p))?"
While I was working on an inverse problem with SimPEG 0.14.3, I found that a scaled search direction p  in the Minimization class could make larger step sizes than the maxStep was set to. The specific code is:
`
        if self.maxStep < np.abs(p.max()):
            p = self.maxStep * p / np.abs(p.max())
        return p
`
With e.g. p being p = [0,4,-6], the vector is normalized with 4 instead of

[2021-05-21 23:31] thast commented on #998
Release `0.15.0` fixed the issue.

[2021-05-21 23:31] #998 closed

[2021-05-26 18:00] domfournier opened #1010 "cell_volumes in Regularization"
Currently the behaviour between Tikhonov and Simple is different with respect to the cell_weights.
- Tikhonov always multiply by cell_volumes
- Simple only multiply if cell_weights are None

We need to change the behaviour such that
- cell_weights are always multiplied by all regularization functions.
- SensitivityWeight directive needs to normalize the volumes out
- Edit doc strings to let know u

[2021-06-07 00:29] ngodber opened #1011 "mesh.h not present for curivilinear mesh"
Moving issue to simpeg main.

https://github.com/simpeg/discretize/issues/250#issue-912807891

[2021-06-07 00:31] ngodber commented on #1011
Fixed in PR https://github.com/simpeg/simpeg/pull/1007#issue-648208747

[2021-06-07 00:38] #992 closed

[2021-06-07 00:39] ngodber opened #1012 "Curvilinear mesh does not have a get_interpolation_matrix method"
![image](https://user-images.githubusercontent.com/11834846/120945494-8ff4f680-c77c-11eb-990f-b205adc997d4.png)

[2021-06-07 01:11] jcapriot commented on #1012
Was having thoughts on this, my current plan is to combine a nearest neighbor lookup with a directed search to find the containing cell, then interpolate from there, but it’ll be subtle to implement properly

[2021-06-07 01:44] ngodber commented on #1012
I can make a start on this. I'm not on top of the interpolation itself.
![image](https://user-images.githubusercontent.com/11834846/120948389-72785a80-c785-11eb-878c-d19b77b774b3.png) Blue is average of nodes to cc, yellow is cc to edges, red is cc to node purple is edge to cc. Turning that these into a _matrix_ that performs the averaging via multiplication is the real brain strain

[2021-06-23 09:33] WouterDls commented on #771
I have encountered the same problem as @Rockpointgeo.

We can avoid the need for a sparse matrix by using iterative solvers. If we import the already existing SolverCG
`from .utils.solver_utils import SolverWrapI, Solver, SolverCG`
and replace Solver by SolverCG, the code works.

Or are there downsides of this approach that I'm not aware of?

[2021-06-23 15:13] domfournier commented on #771
Technically it wouldn't matter, but iterative solvers can be very slow to converge if the system is poorly conditioned. Hence why we added a property `approxHinv` to the `ProjectedGNCG` and `InexactGaussNewton` optimization classes. Jacobi is really easy and cheap to get if you have a dense H matrix...

[2021-06-24 15:20] domfournier opened #1015 "ImportError: cannot import name 'Pardiso' from 'pymatsolver'"
The import error seems to occur after updating the simpeg requirements.

- Likely caused by mixing channels `conda` and `conda-forge` in the environment

Workaround needed.

[2021-06-24 17:16] jcapriot commented on #1015
This might be related to https://github.com/dwfmarchant/pyMKL/pull/14, Have the user print out
[code]

[2021-06-24 18:00] domfournier commented on #1015
I have managed to make it work with these two steps:

1- Simply trying to import `pyMKL` would return this error:
![Capture](https://user-images.githubusercontent.com/55204635/123309782-33af0800-d4da-11eb-9351-2e599505bded.PNG)

**Solution**: Downgrade mkl to 2020.4

`conda install -c conda-forge mkl=2020.4`

2- The user had a `OMP_NUM_THREADS` in his windows variables. This turns out to be interp

[2021-06-24 18:12] domfournier commented on #1015
It also looks like `mkl=2021.2.0` is incompatible with `pymatsolver`

![image](https://user-images.githubusercontent.com/55204635/123311942-91445400-d4dc-11eb-96ca-83b228b305d4.png)

Recommend downgrading to 2020.4

**conda install -c conda-forge mkl=2020.4**

![image](https://user-images.githubusercontent.com/55204635/123312306-02840700-d4dd-11eb-94ac-d6e8181f34aa.png)

[2021-06-24 18:14] jcapriot commented on #1015
This is probably a good time to just write our own wrapper for it..

Also you're correct. The assignment should've been cast to an integer, my bad.

[2021-06-24 18:19] domfournier commented on #1015
Fun fact, the `mkl_get_max_threads` returns the number of cores on the machine, which is half the thread count for multi-threaded machines...

[2021-06-30 16:45] lheagy commented on #500
I will close this in favour of moving the discussion over to simpeg/community#11

[2021-06-30 16:45] #500 closed

[2021-07-08 19:50] lheagy opened #1017 "order of release notes in the docs"
Right now, the order is oldest (0.14.0 -- when we started including them in the docs) to most recent. This means that the most recent is at the bottom. I would suggest that we reverse this so that the most recent release notes are always at the top http://docs.simpeg.xyz/content/release/index.html#release-notes

[2021-07-08 19:51] lheagy commented on #1017
Also, adding a release date to each would be helpful for reference (exactly how long has it been since I updated??)

[2021-07-16 23:35] lheagy opened #1020 "Update_IRLS -- stopping criteria if phid increases too much?"
I have been playing around with MVI inversions in spherical coordinates, and one thing I notice is that it is fairly easy to get yourself in a scenario where the data misift starts increasing more than you might want. I know I can adjust where it stops by increasing the beta_tol factor (e.g. here, it is probably too low), but it seems to me that we might want a separate criteria that looks at incr

[2021-07-16 23:55] domfournier commented on #1020
Yes we could, but I suspect that iteration isn't much different than your L2 model.
My experience is that it's usually ok for phi_d to go up while the regularization is stabilizing. The thing is with the MVI-S + IRLS is it's fairly non-linear and takes a while to converge.

One thing to consider is to start your spherical iterations above the target phi_d. In other words, get your cartesian soluti

[2021-07-16 23:57] domfournier commented on #1020
That way you won't have to have two separate MVI inversion in your script. Might need a bit of tweaks for v0.14

[code]

[2021-07-17 00:23] lheagy commented on #1020
:+1: Thanks Dom, I appreciate your insights on this!

[2021-07-17 23:11] #1020 closed

[2021-07-22 08:33] dickyaz opened #1023 "Confusion in contras density and gz anomaly"
Hi, I am following the SimPEG Forward Simulation of Gravity Anomaly in this [page](https://docs.simpeg.xyz/content/tutorials/03-gravity/plot_1a_gravity_anomaly.html)
I noticed that the the sphere model which has positive value of contrast density is resulting negative anomaly, in opposite the block model which has negative value is resulting positive anomaly.
Isn't that the density contrast and an

[2021-07-22 13:51] xiaolongw1223 commented on #1023
SimPEG uses the right handed coordinate system where Z is positive upward, so gravity anomalies look "inconsistent" with density values. An option is you can flip the sign of data in visualization to make positive gravity signals correspond to positive density models.

In most cases, I think you should use "gz" component for the data measured from gravimeter, unless you purposely measured the data

[2021-07-23 02:30] dickyaz commented on #1023
Thank you for your answer @xiaolongw1223

I also found "inconsistent" result between the "gz" and "gzz" component. Here I attached the results from same model with positive contrast density, I fliped the sign of simulated data and found the "gzz" component resulting negative anomaly.
Is it caused by the same issue of coordinate system?

![gz](https://user-images.githubusercontent.com/33740692/1267

[2021-07-23 03:19] xiaolongw1223 commented on #1023
You are welcome! We don't need to flip sign for gzz data, an example shown [here](https://docs.simpeg.xyz/content/tutorials/03-gravity/plot_1b_gravity_gradiometry.html#sphx-glr-content-tutorials-03-gravity-plot-1b-gravity-gradiometry-py)

I think z direction doesn't affect gzz data. For example, assuming we have two data: d1 (low elevation), d2 (high elevation),  so gzz=(d1-d2)/h, if z is positive

[2021-07-23 03:52] domfournier commented on #1023
That's correct, but the same issue should happen for gxz and gyz.

[2021-07-23 04:42] dickyaz commented on #1023
@xiaolongw1223 Wonderful! I got the point.
I also checked "gxz" and "gyz" as @domfournier said, yes it has same issue.
So in conclusion to obtained true value we need to flip the sign for "gz", "gxz", and "gyz" component.

Here are the "gy" and "gyz" anomaly of model with positive contrast density, as is without flip the sign.
![gy](https://user-images.githubusercontent.com/33740692/126737919-bb9f

[2021-07-23 19:51] prisae commented on #1017
I agree, I think dates are important.

Also, I usually have a file CHANGELOG.md in the root file. This has a couple of advantages, in my opinion:

- It is also distributed with the package (e.g. PyPI)
- Every PR can add its changes to the changelog file, making it easier to create a release as all changes should already be listed
- In the docs it is simply the CHANGELOG.md file that is rendered
-

[2021-07-31 07:26] lianghcug commented on #1000
Hello @xiaolongw1223 , that sounds great! Have your finished this updated?  I just want to perform gravity inversion with depth weighting. I'm looking forward to your updated.

[2021-08-05 02:38] laurickegem96 opened #1028 "Inversion 3D et déconvolution Euler"
salut la grande famille. j'aimerai que vous m'aidiez, je recherche un programme permettant d'éffectuer des inversion 3D et la déconvolution d'Euler des données gravimetrique. je vous remerci d'avance

[2021-08-07 19:01] xiaolongw1223 commented on #1000
Hi @lianghcug sorry for late reply, internet is unavailable to me in the past week. I've already finished updates, but the function still needs a review by SimPEG before merging into main branch. Please finds more details [here](https://github.com/simpeg/simpeg/pull/1004)

[2021-08-23 18:37] jcapriot opened #1033 "DC 2D Fields with boundary conditions"
The 2D DC field object other properties (besides potential) need to be updated to properly account for the boundary conditions.

I believe this only effects the cell centered discretization though.

[2021-08-31 01:50] aluthfian opened #1036 "Enhancement suggestions: SIMPEG\directives\directives.py"
As I am yet to understand what "Pull Requests" are, I want to propose some minor enhancements over the directives.py file.

**Class SaveOutputDictEveryIteration: save to a directory option.** (line 1183)

`if self.saveOnDisk:
            fname = "{:03d}-{:s}".format(self.opt.iter, self.fileName)
            np.savez(os.path.join(self.directory, fname), iterDict)

self.outDict[self.opt.iter] = iter

[2021-09-02 18:16] domfournier opened #1037 "Standardize volumes in cell_weights"
Currently, the Sparse regularization assumes cell_volumes included in cell_weights.
Conflicts with implementation of #1004

[2021-09-17 21:45] dccowan commented on #1010
@domfournier I am running into this issue with DC/IP octree inversion. Current on the branch "tiled_simulations", I cannot do a straightforward L2 DCR inversion on a tree mesh.

- I re-ran the tutorial example for 3D DCR inversion on the simpeg website and it breaks: https://docs.simpeg.xyz/content/tutorials/05-dcr/plot_inv_3_dcr3d.html#sphx-glr-content-tutorials-05-dcr-plot-inv-3-dcr3d-py

- Also

[2021-09-17 21:51] domfournier commented on #1010
yep, don't use Tikhonov. The cell difference operator doesn't handle the handing faces the same way.

[2021-09-17 21:52] dccowan commented on #1010
I was using simple. Not Tikhonov on either

[2021-09-17 21:52] domfournier commented on #1010
Well your log above seems to pull from regularization\tikhonov ?

[2021-09-17 22:26] dccowan commented on #1010
Interesting. Here is a screenshot of the regularization and directives
![image](https://user-images.githubusercontent.com/12970009/133859955-28175833-a2cb-401b-a8bd-a262aba5a26c.png)

[2021-09-17 22:33] domfournier commented on #1010
Oh yep, my bad. Simple is inside Tikhonov... I will need to run it in debug mode.

[2021-09-17 23:23] domfournier commented on #1010
@dccowan Updated the branch with out fork + minor edits.
Looking good on this side.
![image](https://user-images.githubusercontent.com/55204635/133863239-35129e2c-50ad-419c-8a24-e4f8b8e9d7a0.png)

![image](https://user-images.githubusercontent.com/55204635/133863220-9df9ce79-02ce-4c30-87cb-b010325d4432.png)

[2021-09-17 23:38] domfournier commented on #1010
And just as a side note, watch out with setting `alpha_s=1e-2`. You are dealing with simple reg here... should be 1 by default.
The reference model will help stabilize the model outside the sensitivity... as you know.
![image](https://user-images.githubusercontent.com/55204635/133863837-c77d3431-88b8-4ff9-b301-ab25f42c4843.png)

[2021-09-18 00:24] dccowan commented on #1010
Awesome. I'll give it a shot

[2021-10-02 01:51] ngodber opened #1042 "tanh overflow warning"
I am encountering the following overflow warning:

SimPEG\electromagnetics\static\resistivity\simulation_1d.py:75: RuntimeWarning: overflow encountered in tanh
  T0 = (T1 + rho0 * np.tanh(self.lambd * t0)) / (
SimPEG\electromagnetics\static\resistivity\simulation_1d.py:76: RuntimeWarning: overflow encountered in tanh
  1.0 + (T1 * np.tanh(self.lambd * t0) / rho0)

which is concerning, even if resu